<app-loading *ngIf="loading" display="full"></app-loading>
<p-toast position="top-right"></p-toast>
<p-confirmDialog containerStyleClass="vw" acceptButtonStyleClass="p-button-danger" acceptIcon="pi pi-trash"
    rejectButtonStyleClass="p-button-text" appendTo="body"></p-confirmDialog>
<app-sidebar [display]="display" (displayChange)="onHide()">
    <div header>
        <div class="flex justify-content-between flex-wrap ">
            <div *ngIf="detailMode" class="flex align-items-center justify-content-center   ">
                <div class="flex-initial flex align-items-center justify-content-center mx-2">
                    <button pButton pRipple type="button" icon="pi pi-times" (click)="onHide()"
                        class="p-button-rounded p-button-secondary p-button-lg p-button-text btn-white "></button>
                </div>
                <div class="flex align-items-center justify-content-center border-break"></div>
                <div class="flex-initial flex align-items-center justify-content-center px-3">
                    <i class="pi pi-calendar text-100 text-3xl " [class]="'css.mr-2'|translate"></i>
                    <entity-viewer
                        [entity]="{type:'text',title:'CREATION DATE' | translate,value:this.appointment.createdAt}"
                        [darkMode]="true"></entity-viewer>
                </div>
                <div class="flex align-items-center justify-content-center border-break"></div>

                <div class="flex-initial flex align-items-center justify-content-center px-3">
                    <span [class]="'css.mr-2'|translate">
                        <i *ngIf="appointment.approved" class="pi pi-check-circle text-100 text-3xl "></i>
                        <i *ngIf="!appointment.approved" class="pi pi-times-circle text-100 text-3xl "></i>
                    </span>
                    <entity-viewer
                        [entity]="{type:'text',title:'Approved'| translate,value:appointment.approved?'Yes':'No'}"
                        [darkMode]="true"></entity-viewer>
                </div>

                <div class="flex align-items-center justify-content-center border-break"></div>
                <div class="flex-initial flex align-items-center justify-content-center px-3">
                    <span [class]="'css.mr-2'|translate">
                        <i class="pi pi-tags text-100 text-3xl "></i>
                    </span>
                    <entity-viewer [entity]="{type:'text',title:'Status'| translate,value:appointment.status}"
                        [darkMode]="true"></entity-viewer>
                </div>

                <div class="flex align-items-center justify-content-center border-break"></div>
                <div class="flex-initial flex align-items-center justify-content-center px-3">
                    <entity-viewer [entity]="{type:'user',title:'CREATED BY'|translate,value:appointment?.appoBy}"
                        [darkMode]="true"></entity-viewer>
                </div>
            </div>
            <div *ngIf="!detailMode" class="flex align-items-center justify-content-center   ">
                <div class="flex-initial flex align-items-center justify-content-center mx-2">
                    <button pButton (click)="onHide()" pRipple type="button" icon="pi pi-times"
                        class="p-button-rounded p-button-secondary p-button-lg p-button-text btn-white "></button>
                </div>
                <div class="flex align-items-center justify-content-center border-break"></div>
                <div class="flex-initial flex align-items-center justify-content-center px-3">
                    <span class="text-3xl text-white " translate> New Appointment </span>
                </div>
            </div>
            <div class="flex align-items-center justify-content-center mx-2 ">
                <button *ngIf="detailMode" (click)="tt.toggle($event)" pButton pRipple type="button"
                    icon="pi pi-whatsapp"
                    class="p-button-rounded mr-2 p-button-secondary p-button-lg p-button-text btn-white "></button>
                <p-menu #tt id="meetingActinos" styleClass="meetingActinos" [popup]="true" appendTo="body"
                    [model]="notfiItems"></p-menu>


                <button *ngIf="detailMode && this.appointment.status != 'Completed'" (click)="menu.toggle($event)" pButton pRipple type="button"
                    icon="pi pi-ellipsis-v"
                    class="p-button-rounded mr-2 p-button-secondary p-button-lg p-button-text btn-white "></button>
                <p-menu #menu id="meetingActinos" styleClass="meetingActinos" [popup]="true" appendTo="body"
                    [model]="acions"></p-menu>
                <button *ngIf="this.appointment.status != 'Canceled' && this.appointment.status !='Completed'" pButton [disabled]="form?.invalid || !appointment?.firstName ||!appointment?.middleName ||
                     ! appointment?.lastName || !appointment?.phone ||!appointment?.fromDate " pRipple type="button"
                    [label]="'Save'|translate" icon="pi pi-check " (click)="detailMode?updateAppominet():addAppominet()"
                    class="p-button-rounded p-button-outlined p-button-secondary2  p-button-lg text-btn "></button>
            </div>
        </div>
    </div>
    <form #form="ngForm" body class="px-5 ">
        <div class="grid ">
            <div class="col-12 pb-4">
                <span class="text-3xl ont-semibold font-bold" translate>Customer Details </span>
            </div>
            <div class="lg:col-4 sm:col-6">
                <app-input [(ngModel)]="appointment.firstName" name="firstName" [title]="'First Name'|translate"
                    [required]="true"></app-input>
            </div>
            <div class="lg:col-4 sm:col-6 ">
                <app-input [(ngModel)]="appointment.middleName" name="middleName" [title]="'Middle Namee'|translate"
                    [required]="true"></app-input>
            </div>
            <div class="lg:col-4 sm:col-6 ">
                <app-input [(ngModel)]="appointment.lastName" name="lastName" [title]="'Last Name'|translate"
                    [required]="true"></app-input>
            </div>
            <div class="lg:col-4 sm:col-6 ">
                <app-input-mask name="phone" [(ngModel)]="appointment.phone" [required]="true"
                    [title]="'Phone'|translate"></app-input-mask>
            </div>
            <div class="lg:col-4 sm:col-6 ">
                <app-input [(ngModel)]="appointment.address" name="address"  [title]="'Address'|translate"></app-input>
            </div>
            <div class="lg:col-4 sm:col-6 ">
                <app-input [(ngModel)]="appointment.deposit" name="deposit" title="{{'Deposit'|translate}} / {{jod}}"
                    type="number"></app-input>
            </div>
        </div>
        <div>
            <div class="col-12 py-4">
                <span class="text-3xl ont-semibold font-bold" translate>
                    Appointment Details </span>
            </div>
            <div class="grid ">
                <div class="col-6">
                    <div>
                        <app-input [(ngModel)]="appointment.number" name="title"  [title]="'Appointment No.'|translate"
                            [required]="true"></app-input>
                    </div>
                    <div class="my-1">
                        <app-calender [(ngModel)]="appointment.fromDate" [stepMinute]='30'
                            (ngModelChange)="startDateChange()" [showTime]="true" [required]="true" name="fromDate"
                            showIcon="true" [title]="'Start Date'|translate"></app-calender>
                    </div>
                    <div>
                        <app-calender [(ngModel)]="appointment.toDate" [stepMinute]='30'
                            (ngModelChange)="finishDateChange()" [timeOnly]="true" [showTime]="true" [required]="true"
                            name="toDate" showIcon="true" [title]="'Finish Date'|translate"></app-calender>
                    </div>
                    <div *ngIf="appointment.approved" class="block my-1">
                        <ng-container>
                            <div class="text-lg font-semibold mb-2" translate>
                                Employee
                            </div>
                        </ng-container>
                        <p-dropdown *ngIf="!employeeMode" [required]="true" appendTo="body" [filter]="true"
                            [options]="users" [placeholder]="'Select a Employee'|translate" (onChange)="selectEmployees($event.value)"
                            optionLabel="username"></p-dropdown>
                        <p-button *ngIf="employeeMode" [label]="selectEmployee?.username" [style]="{'width': '46vw'}"
                            (click)="employeeMode=false" styleClass="p-button-outlined p-button-success"></p-button>

                    </div>
                </div>
                <div [class]="lang=='en'?'col-6 leftLine':'leftRight col-6'">
                    <div class="flex justify-content-between flex-wrap mx-2 mt-2">
                        <div class="flex align-items-center justify-content-center  ">
                            <div class="text-2xl font-semibold"translate>
                                Services
                            </div>
                        </div>
                        <div class="flex align-items-center justify-content-center  ">

                            <button pButton pRipple type="button" icon="pi pi pi-plus " (click)="showAddNewServ('ser')"
                                [label]="'New Service'|translate" class="p-button-rounded p-button-outlined text-btn"></button>
                            <button pButton pRipple type="button" icon="pi pi pi-plus " (click)="showAddNewServ('prod')"
                                [label]="'New Product'|translate" class="p-button-rounded p-button-outlined text-btn mx-1"></button>
                        </div>
                    </div>
                    <div *ngIf="services" class="mt-3 mx-2">
                        <div *ngFor="let item of selectServices;let i =index "
                            class="flex justify-content-between flex-wrap mb-2">
                            <div class=" text-base font-semibold "
                                style="display: flex;align-items: center;justify-content: space-around;width: 16vw">
                                <div class="pi pi-circle-fill text-primary text-xs pt-2"></div>
                                <span class="  font-bold "> {{item[lang]}} </span>
                                <span class="  font-bold">
                                    <input type="number" name="price{{i}}" pInputText [(ngModel)]="item.price" />

                                </span>
                            </div>
                            <div class="flex align-items-center justify-content-center  ">
                                <button pButton pRipple type="button" (click)="deleteValue(i)" icon="pi pi-trash "
                                    class="p-button-rounded p-button-danger p-button-text  "></button>
                            </div>
                        </div>
                       
                    </div>
                    <div *ngIf="selectProducts" class="mt-3">
                        <div *ngFor="let item of selectProducts;let i =index "
                            class="flex justify-content-between flex-wrap mb-2">
                            <div class=" text-base font-semibold "
                                style="display: flex;align-items: center;justify-content: space-around">
                                <div class="pi pi-circle-fill text-primary text-xs pt-2"></div>
                                <span class="  font-bold "> {{item.name}} </span>
                                <span class=" px-2 font-bold">
                                    <input type="number" name="price{{i}}" pInputText [(ngModel)]="item.price" />
                                </span>
                                <span class="  font-bold">
                                    <input type="number" name="stocks{{i}}" pInputText [(ngModel)]="item.stocks" />
                                </span>
                            </div>
                            <div class="flex align-items-center justify-content-center  ">
                                <button pButton pRipple type="button" (click)="deleteValue(i)" icon="pi pi-trash "
                                    class="p-button-rounded p-button-danger p-button-text  "></button>
                            </div>
                        </div>
                        <div class="text-xl text-primary font-bold pt-2">
                            <span >{{'Price'|translate}}: {{getTotalPrice()}} {{jod}}</span>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-12">
                <app-text-area name="notes" [(ngModel)]="appointment.notes" [title]="'Notes'|translate"></app-text-area>
            </div>
        </div>

    </form>


</app-sidebar>

<app-modal [(display)]="showAddValue" [title]="title" class="modal-sm">
    <div body>
        <p-dropdown *ngIf="servType == 'ser'" appendTo="body" [filter]="true" class="text-xl" [options]="services" [(ngModel)]="newValue"
            placeholder="Select a Services" name="newValue" (onChange)="selectService()"
            [optionLabel]="lang"></p-dropdown>

        <p-dropdown *ngIf="servType != 'ser'" appendTo="body" [filter]="true" class="text-xl" [options]="Products" [(ngModel)]="newValue"
            placeholder="Select a Product" name="newValue" (onChange)="selectProduct()"
            optionLabel="name"></p-dropdown>
    </div>
    <div footer>
        <button (click)="showAddValue=false" pButton pRipple type="button" label=" {{'Cancel' |translate}}"
            icon='pi pi-times {{"css.mr-2"|translate}}' class="p-button-secondary p-button-outlined"></button>
    </div>
</app-modal>



<app-modal [(display)]="toOrderDialog" title="Convert To Order" class="modal-sm">
    <div body>
        <app-input [(ngModel)]="orderNo" name="orderNo" title="Order Number" type="text"></app-input>
    </div>
    <div footer>
        <button (click)="toOrderDialog=false" pButton pRipple type="button" label=" {{'Cancel' |translate}}"
            icon='pi pi-times {{"css.mr-2"|translate}}' class="p-button-secondary p-button-outlined"></button>
        <button (click)="addOrder()" pButton pRipple type="button" label=" {{'Save' |translate}}"
            class="p-button-primary"></button>
    </div>
</app-modal>