<app-loading *ngIf="loading" display="full"></app-loading>
<p-toast position="top-right"></p-toast>
<p-confirmDialog containerStyleClass="vw" acceptButtonStyleClass="p-button-danger" acceptIcon="pi pi-trash"
    rejectButtonStyleClass="p-button-text" appendTo="body"></p-confirmDialog>
<app-sidebar [display]="display" (displayChange)="onHide()">
    <div header>
        <div class="flex justify-content-between flex-wrap ">
            <div *ngIf="detailMode" class="flex align-items-center justify-content-center   ">
                <div class="flex-initial flex align-items-center justify-content-center mx-2">
                    <button pButton pRipple type="button" icon="pi pi-times" (click)="onHide()"
                        class="p-button-rounded p-button-secondary p-button-lg p-button-text btn-white "></button>
                </div>
                <div class="flex align-items-center justify-content-center border-break"></div>
                <div class="flex-initial flex align-items-center justify-content-center px-3">
                    <i class="pi pi-calendar text-100 text-3xl " [class]="'css.mr-2'|translate"></i>
                    <entity-viewer
                        [entity]="{type:'text',title:'CREATION DATE' | translate,value:this.appointment.createdAt}"
                        [darkMode]="true"></entity-viewer>
                </div>
                <div class="flex align-items-center justify-content-center border-break"></div>

                <div class="flex-initial flex align-items-center justify-content-center px-3">
                    <span [class]="'css.mr-2'|translate">
                        <i *ngIf="appointment.approved" class="pi pi-check-circle text-100 text-3xl "></i>
                        <i *ngIf="!appointment.approved" class="pi pi-times-circle text-100 text-3xl "></i>
                    </span>
                    <entity-viewer
                        [entity]="{type:'text',title:'Approved'| translate,value:appointment.approved ?('Yes'| translate):('No'| translate) }"
                        [darkMode]="true"></entity-viewer>
                </div>

                <div class="flex align-items-center justify-content-center border-break"></div>
                <div class="flex-initial flex align-items-center justify-content-center px-3">
                    <span [class]="'css.mr-2'|translate">
                        <i class="pi pi-tags text-100 text-3xl "></i>
                    </span>
                    <entity-viewer [entity]="{type:'text',title:'Status'| translate,value:appointment.status| translate}"
                        [darkMode]="true"></entity-viewer>
                </div>

                <div class="flex align-items-center justify-content-center border-break"></div>
                <div class="flex-initial flex align-items-center justify-content-center px-3">
                    <entity-viewer [entity]="{type:'user',title:'Confirmed BY'|translate,value:appointment?.appoBy}"
                        [darkMode]="true"></entity-viewer>
                </div>
                <div class="flex align-items-center justify-content-center border-break"></div>
                <div class="flex-initial flex align-items-center justify-content-center px-3">
                    <entity-viewer [entity]="{type:'user',title:'CREATED BY'|translate,value:appointment?.createBy | translate}"
                        [darkMode]="true"></entity-viewer>
                </div>
            </div>
            <div *ngIf="!detailMode" class="flex align-items-center justify-content-center   ">
                <div class="flex-initial flex align-items-center justify-content-center mx-2">
                    <button pButton (click)="onHide()" pRipple type="button" icon="pi pi-times"
                        class="p-button-rounded p-button-secondary p-button-lg p-button-text btn-white "></button>
                </div>
                <div class="flex align-items-center justify-content-center border-break"></div>
                <div class="flex-initial flex align-items-center justify-content-center px-3">
                    <span class="text-3xl text-white " translate> New Appointment </span>
                </div>
            </div>
            <div class="flex align-items-center justify-content-center mx-2 ">
                <button *ngIf="detailMode" (click)="tt.toggle($event)" pButton pRipple type="button"
                    icon="pi pi-whatsapp"
                    class="p-button-rounded mr-2 p-button-secondary p-button-lg p-button-text btn-white "></button>
                <p-menu #tt id="meetingActinos" styleClass="meetingActinos" [popup]="true" appendTo="body"
                    [model]="notfiItems"></p-menu>


                <button *ngIf="detailMode && this.appointment.status != 'Completed'" (click)="menu.toggle($event)"
                    pButton pRipple type="button" icon="pi pi-ellipsis-v"
                    class="p-button-rounded mr-2 p-button-secondary p-button-lg p-button-text btn-white "></button>
                <p-menu #menu id="meetingActinos" styleClass="meetingActinos" [popup]="true" appendTo="body"
                    [model]="acions"></p-menu>
                <button *ngIf="this.appointment.status != 'Canceled' && this.appointment.status !='Completed'" pButton
                    [disabled]="form?.invalid || !appointment?.firstName ||!appointment?.middleName ||
                     ! appointment?.lastName ||!appointment?.fromDate " pRipple type="button"
                    [label]="'Save'|translate" icon="pi pi-check " (click)="detailMode?updateAppominet():addAppominet()"
                    class="p-button-rounded p-button-outlined p-button-secondary2  p-button-lg text-btn "></button>
            </div>
        </div>
    </div>
    <form #form="ngForm" body class="px-5 ">
        <div class="grid ">
            <div class="col-12 pb-4">
                <span class="text-3xl ont-semibold font-bold" translate>Customer Details </span>
            </div>
            <div class="lg:col-4 sm:col-6">
                <app-input [(ngModel)]="appointment.firstName" name="firstName" [title]="'First Name'|translate"
                    [required]="true"></app-input>
            </div>
            <div class="lg:col-4 sm:col-6 ">
                <app-input [(ngModel)]="appointment.middleName" name="middleName" [title]="'Middle Namee'|translate"
                    [required]="true"></app-input>
            </div>
            <div class="lg:col-4 sm:col-6 ">
                <app-input [(ngModel)]="appointment.lastName" name="lastName" [title]="'Last Name'|translate"
                    [required]="true"></app-input>
            </div>
            <div class="lg:col-4 sm:col-6 ">
                <app-input-mask name="phone" [(ngModel)]="appointment.phone" [required]="true"
                    [title]="'Phone'|translate"></app-input-mask>
            </div>
            <div class="lg:col-4 sm:col-6 ">
                <app-input [(ngModel)]="appointment.address" name="address" [title]="'Address'|translate"></app-input>
            </div>
            <div class="lg:col-4 sm:col-6 ">
                <app-input [(ngModel)]="appointment.deposit" name="deposit" title="{{'Deposit'|translate}} /  {{getCurrencySymbol(cur.code)}}"
                    type="number"></app-input>
            </div>
        </div>
        <div>
            <div class="col-12 py-4">
                <span class="text-3xl ont-semibold font-bold" translate>
                    Appointment Details </span>
            </div>
            <div class="grid ">
                <div class="col-6">
                    <div>
                        <app-input [(ngModel)]="appointment.number" name="title" [title]="'Appointment No.'|translate"
                            [required]="true"></app-input>
                    </div>
                    <div class="my-1">
                        <app-calender [(ngModel)]="appointment.fromDate" [stepMinute]='15'
                            (ngModelChange)="startDateChange()" [showTime]="true" [required]="true" name="fromDate"
                            showIcon="true" [title]="'Start Date'|translate"></app-calender>
                    </div>
                    <div>
                        <app-calender [(ngModel)]="appointment.toDate" [stepMinute]='15' 
                            (ngModelChange)="finishDateChange()" [timeOnly]="true" [showTime]="true" [required]="true"
                            name="toDate" showIcon="true" [title]="'Finish Date'|translate"></app-calender>
                    </div>
                </div>
                <div [class]="lang=='en'?'col-6 leftLine':'leftRight col-6'">
                    <div class="flex justify-content-between flex-wrap mx-2 mt-2">
                        <div class="flex align-items-center justify-content-center  ">
                            <div class="text-2xl font-semibold" translate>
                                Services
                            </div>
                        </div>
                        <div class="flex align-items-center justify-content-center  ">
                            <button pButton pRipple type="button" icon="pi pi pi-plus " (click)="showAddNewEmp('ser')"
                                [label]="'Add Employee'|translate"
                                class="p-button-rounded p-button-outlined text-btn"></button>
                            <button pButton pRipple type="button" icon="pi pi pi-plus " (click)="showAddNewServ('prod')"
                                [label]="'New Product'|translate"
                                class="p-button-rounded p-button-outlined text-btn mx-1"></button>
                        </div>
                    </div>
                    <div class="block my-1" *ngFor="let item of appointment.employee;let i =index ">
                        <ng-container>
                            <div class="text-lg font-semibold mb-2" translate>
                                Employee
                            </div>
                        </ng-container>
                        <div class="flex">
                            <div class="block" style="width: 75%;">
                                <p-button *ngIf="item" [label]="item?.username" [style]="{'width': '50%','cursor':'default'}"
                                    (click)="employeeMode=false"
                                    styleClass="p-button-outlined p-button-success"></p-button>
                            </div>
                            <div>
                                <button pButton pRipple type="button" icon="pi pi pi-plus "
                                    (click)="showAddNewServ('ser',i)" [label]="'New Service'|translate"
                                    class="p-button-rounded p-button-outlined text-btn"></button>

                                <button pButton pRipple type="button" icon="pi pi-trash "  (click)="deleteValue(i,'emp')"
                                    class="p-button-rounded p-button-danger p-button-text  "></button>
                            </div>
                        </div>
                        <div *ngIf="item.services" class="mt-3 mx-2">
                            <div *ngFor="let ser of item.services;let c =index " class="flex justify-content-between flex-wrap mb-2">
                                <div class=" text-base font-semibold justify-content-between"
                                    style="display: flex;align-items: center;justify-content: space-around;width: 23vw">
                                    <div class="pi pi-circle-fill text-primary text-xs pt-2"></div>
                                    <span class="  font-bold "> {{ser[lang]}} </span>
                                    <span class="  font-bold">
                                        <input type="number" name="price{{i}}{{c}}" pInputText [(ngModel)]="ser.price" />

                                    </span>
                                </div>
                                <div class="flex align-items-center justify-content-center  ">
                                    <button pButton pRipple type="button" (click)="deleteValueServ(i,c)"
                                        icon="pi pi-trash "
                                        class="p-button-rounded p-button-danger p-button-text  "></button>
                                </div>
                            </div>
                            <p-divider *ngIf="item.services.length"></p-divider>
                        </div>
                    </div>
                    <div *ngIf="selectProducts?.length" class="mt-3">
                        <p-table [value]="selectProducts" [tableStyle]="{'width.%': 100}">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th translate>Product Name</th>
                                    <th translate>Price</th>
                                    <th translate>Quantity</th>
                                    <th translate>Brand</th>
                                    <th translate>Total</th>
                                    <th translate style="width: 10%;"></th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-product let-s="rowIndex">
                                <tr>
                                    <td class=" px-2 font-bold">{{ product.name }}</td>
                                    <td>
                                        <span class=" px-2 font-bold">
                                            <input type="number" [value]="product.price"
                                                [ngModelOptions]="{standalone: true}" pInputText
                                                [(ngModel)]="product.price" />
                                        </span>
                                    </td>
                                    <td>
                                        <span class="  font-bold">
                                            <input type="number" name="qty{{s}}"
                                                [pTooltip]="product.stocks ?' Stocks: ' +product.stocks:null"
                                                showDelay="1000" hideDelay="1000" tooltipPosition="bottom"
                                                (ngModelChange)="checkStock()" [max]="product.stocks" pInputText
                                                [(ngModel)]="product.qty" />
                                        </span>
                                    </td>
                                    <td>
                                        <span class="  font-bold">
                                            {{product?.brand?.name}}
                                        </span>
                                    </td>
                                    <td>
                                        <span class="  font-bold">
                                            {{product?.price*product?.qty}} {{getCurrencySymbol(cur.code)}}
                                        </span>
                                    </td>

                                    <td>
                                        <span class="  font-bold">
                                            <button pButton pRipple type="button" (click)="deleteValue(s,'prod')"
                                                icon="pi pi-trash "
                                                class="p-button-rounded p-button-danger p-button-text  "></button>
                                        </span>
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                    <div class="text-xl text-primary font-bold pt-2">
                        <span>{{'Price'|translate}}: {{getTotalPrice()?.products}} {{getCurrencySymbol(cur.code)}}</span>
                    </div>
                </div>
            </div>


            <div class="col-12">
                <app-text-area name="notes" [(ngModel)]="appointment.notes" [title]="'Notes'|translate"></app-text-area>
            </div>
        </div>

    </form>


</app-sidebar>

<app-modal [(display)]="showAddValue" [title]="title" class="modal-sm">
    <div body>
        <p-dropdown *ngIf="servType == 'ser'" appendTo="body" [filter]="true" class="text-xl" [options]="services"
            [(ngModel)]="newValue" [placeholder]="'Select Service'|translate" name="newValue" (onChange)="selectService()"
            [optionLabel]="lang"></p-dropdown>

        <p-dropdown *ngIf="servType != 'ser'" appendTo="body" [filter]="true" class="text-xl" [options]="Products"
            [(ngModel)]="newValue" [placeholder]="'Select Product'|translate" name="newValue" (onChange)="selectProduct()"
            optionLabel="name"></p-dropdown>
    </div>
    <div footer>
        <button (click)="showAddValue=false" pButton pRipple type="button" label=" {{'Cancel' |translate}}"
            icon='pi pi-times {{"css.mr-2"|translate}}' class="p-button-secondary p-button-outlined"></button>
    </div>
</app-modal>

<app-modal [(display)]="showEmployiesDialog" title="{{'Add Employee'|translate}}" class="modal-sm">
    <div body>
        <p-dropdown *ngIf="!employeeMode" appendTo="body" [filter]="true" [options]="users"
            [placeholder]="'Select a Employee'|translate"  [(ngModel)]="newEmpe"  (onChange)="selectEmployees($event.value)"
            optionLabel="username"></p-dropdown>


    </div>
    <div footer>
        <button (click)="showEmployiesDialog=false" pButton pRipple type="button" label=" {{'Cancel' |translate}}"
            icon='pi pi-times {{"css.mr-2"|translate}}' class="p-button-secondary p-button-outlined"></button>
    </div>
</app-modal>



<app-modal [(display)]="toOrderDialog" title="Convert To Order" class="modal-md">
    <div body>
        <app-input [(ngModel)]="orderNo" name="orderNo" title="Order Number" type="text"></app-input>
        <table class="py-4">
            <tr>
                <th class="px-5">{{'Services Price'|translate}}:</th>
                <th>{{getTotalPrice().products}} {{getCurrencySymbol(cur.code)}} </th>
            </tr>
            <tr>
                <th class="px-5 py-2" translate> {{'Deposit'|translate}}:</th>
                <th>{{appointment.deposit}} {{getCurrencySymbol(cur.code)}}</th>
            </tr>
            <p-divider></p-divider>
            <tr>
                <th class="px-5 py-2" translate> {{'Discount'|translate}}:</th>
                <th>
                    <span *ngIf="discountMode =='type'">
                        <i class="pointer pi pi-money-bill"
                            (click)="discountMode='price';cashMode=false;appointment.discountType='cash'">
                        </i>
                        <span class="px-2">|</span>
                        <i class="pointer pi pi-percentage"
                            (click)="discountMode='price';cashMode=false;appointment.discountType='percent'"></i>
                    </span>

                    <span *ngIf="discountMode =='price'">
                        <p-inputNumber [min]="0" *ngIf="appointment.discountType == 'cash'" name="discount"
                            [(ngModel)]="appointment.discount" (onFocus)="$event.target.select()"
                            (keydown)="onKeyEnter($event)" mode="decimal" [minFractionDigits]="2"></p-inputNumber>

                        <p-inputNumber [min]="0" *ngIf="appointment.discountType == 'percent'" prefix="%"
                            name="discount" (keydown)="onKeyEnter($event)" [(ngModel)]="appointment.discount"
                            [max]="100"></p-inputNumber>
                    </span>
                    <span *ngIf="discountMode =='show'" (click)="discountMode ='type'">
                        <span *ngIf="appointment.discountType =='cash'">
                            {{appointment.discount}} {{jod}}
                        </span>
                        <span *ngIf="appointment.discountType =='percent'">
                            {{appointment.discount}} %
                        </span>
                    </span>
                </th>
            </tr>
            <tr>
                <th class="px-5 py-2" translate> {{'Paid'|translate}}:</th>
                <th>
                    <span class="pointer" *ngIf="!cashMode" (click)="cashMode=true">
                        {{appointment.cash}} {{getCurrencySymbol(cur.code)}}</span>
                    <span *ngIf="cashMode">
                        <input [(ngModel)]="appointment.cash" type="number" (keydown)="onKeyEnter($event,'cash')"
                            placeholder="{{'Enter'|translate}} Cash" name="Cash" pInputText />
                    </span>
                </th>
            </tr>
            <p-divider></p-divider>
            <tr>
                <th class="px-5 text-danger">{{'Unpaid'|translate}}:</th>
                <th>{{getTotalPrice().total | number : '1.2-2'}} {{getCurrencySymbol(cur.code)}}</th>
            </tr>
        </table>
        <app-pay-by *ngIf="toOrderDialog" [(ngModel)]="appointment.payBy"></app-pay-by>

    </div>
    <div footer>
        <button (click)="toOrderDialog=false" pButton pRipple type="button" label=" {{'Cancel' |translate}}"
            icon='pi pi-times {{"css.mr-2"|translate}}' class="p-button-secondary p-button-outlined"></button>
        <button (click)="addOrder()" [disabled]="!appointment.payBy" pButton pRipple type="button" label=" {{'Save' |translate}}"
            class="p-button-primary"></button>
    </div>
</app-modal>