:host ::ng-deep.p-selectbutton.p-buttonset.p-component {
    direction: initial;
    display: flex;
    justify-content: flex-end;
}
:host ::ng-deep.p-inputnumber.p-component.p-inputnumber-buttons-stacked {
   direction: initial;
}