<app-modal (displayChange)="onHide()" [(display)]="display" class="modal-sm">
    <div body>
        <div class="grid">
            <div class=" col-6 mt-3">
                <div class="p-inputgroup">
                    <span class="p-float-label">
                        <p-calendar dateFormat="dd-mm-yy"  [(ngModel)]="fromDate" appendTo="body"
                            [style]="{width: '100%'}" [showIcon]="true" yearNavigator=true>
                        </p-calendar>
                        <label for="vat-input" translate>From Date</label>
                    </span>
                </div>
            </div>
            <div class=" col-6 mt-3">
                <div class="p-inputgroup">
                    <span class="p-float-label">
                        <p-calendar dateFormat="dd-mm-yy" appendTo="body" [(ngModel)]="toDate" [style]="{width: '100%'}"
                            [showIcon]="true" yearNavigator=true>
                        </p-calendar>
                        <label for="vat-input" translate>To Date</label>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div footer>
        <button pButton pRipple (click)="onHide()"  type="button" label=" {{'Cancel' |translate}}"
            icon='pi pi-times {{"css.mr-2"|translate}}' class="p-button-secondary p-button-outlined"></button>
        <button pButton pRipple (click)=" emitDates()" type="button"
            label=" {{'Apply' |translate}}" class="p-button-primary"></button>
    </div>
</app-modal>

