<app-loading *ngIf="loading" display="full"></app-loading>
<p-toast position="top-right"></p-toast>
<div style="height:calc(100vh - 80px) ;" class="  pt-0 card ">
    <p-tabMenu class="col-12" [model]="tabIndex" [activeItem]="tabIndex[0]"></p-tabMenu>
    <div *ngIf="tabSelected=='users'" class=" grid col-12">
        <p-table #kt [value]="users"
        currentPageReportTemplate="Showing {first} to {last} entries"
        [scrollable]="true" [tableStyle]="{'width.%': 100}" scrollHeight="70vh">
            <ng-template pTemplate="caption">
                <div class="flex align-items-center justify-content-between">
                    <div>
                        <h5 class="m-0 primary" >{{'Users Manager'|translate}}</h5>
                        <label class="text-600 ">
                            In total there are <label class="text-primary font-bold ">
                                {{users ? users.length : 0 }}</label> Users .
                        </label>
                    </div>
                    <div class="table-header inputgroup-stopwords block ">
                        <div class="p-inputgroup inputgroup-stopwords">
                            <div>
                                <button type="button" (click)="showUserSide()" label="{{'Add User'|translate}}" pRipple pButton
                                    icon="pi pi-plus" class="p-button-success "></button>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 30vw" translate>Users</th>
                    <th style="width: 40vw" translate>Email</th>
                    <th translate>Role</th>
                    <th translate>Status</th>
                    <th translate>Availbale Today</th>
                    <th style="width: 10% !important" translate>Actions</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-ser let-i="rowIndex">
                <tr>
                    <td style="width: 30vw">
                        <span (click)="showUserDeatil(ser)" class="text-xl text-primary pointer font-bold">
                            {{ser?.username}}
                        </span>
                    </td>
                    <td style="width: 30vw">
                        <span  (click)="showUserDeatil(ser)" class="text-xl text-primary pointer ">
                            {{minString(ser?.email,15)}}
                        </span>
                    </td>
                    <td style="width: 10vw"> 
                        <span class="text-xl text-primary ">
                            {{ser?.privilege?.role}} 
                        </span>
                    </td>
                    <td style="width: 5vw">
                        <span class="text-xl text-primary  bold">
                            <span *ngIf="ser?.blocked ==false " class="Active">{{'Active'|translate}}</span>
                            <span *ngIf="ser?.blocked==true " class="InActive">{{'InActive'|translate}}</span>
                        </span>
                    </td>
                    <td style="width: 5vw">
                        <span class="text-xl text-primary text-center  bold">
                            <span *ngIf="ser?.isToday ==false " class="InActive">{{'No'|translate}}</span>
                            <span *ngIf="ser?.isToday==true " class="Active">{{'Yes'|translate}}</span>
                        </span>
                    </td>
                    <td style="width: 10%">
                        <button (click)="showUserDeatil(ser)" pButton pRipple icon="pi pi-pencil text-base"
                            class="p-button-sm  p-button-primary mr-1"></button>
                        <!-- <button  pButton pRipple icon="pi pi-trash text-base"
                            class="p-button-sm mr-1 p-button-danger "></button> -->
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="4">No Users .</td>
                </tr>
            </ng-template>
        </p-table>
    </div>

    <div *ngIf="tabSelected=='roles'" class=" grid col-12">
        <app-roles></app-roles>
</div>
</div>

<app-add-edit-user *ngIf='showUserSidebar' (refreshLish)="getUsers()" [selectedUser]="selectedUser"
    [detailMode]="detailMode" [(display)]="showUserSidebar"></app-add-edit-user>