<app-loading *ngIf="loading" display="full"></app-loading>
<p-toast position="top-right"></p-toast>
<div style="height:calc(100vh - 68px) ;" class="  pt-0 card ">
    <p-tabMenu class="col-12" [model]="tabIndex" [activeItem]="tabIndex[0]"></p-tabMenu>
    <div *ngIf="tabSelected=='users'" class=" grid col-12">

        <p-table #kt [value]="users" [scrollable]="true" scrollHeight="80vh" class="col-12" [rowHover]="true">
            <ng-template pTemplate="caption">
                <div class="flex align-items-center justify-content-between">
                    <div>
                        <h5 class="m-0 primary">Users Manager</h5>
                        <label class="text-600 ">
                            In total there are <label class="text-primary font-bold ">
                                {{users ? users.length : 0 }}</label> Users .
                        </label>
                    </div>
                    <div class="table-header inputgroup-stopwords block ">
                        <div class="p-inputgroup inputgroup-stopwords">
                            <div>
                                <button type="button" (click)="showUserSide()" label="Add User" pRipple pButton
                                    icon="pi pi-plus" class="p-button-success "></button>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 30vw">Users</th>
                    <th style="width: 40vw">Email</th>
                    <th>Role</th>
                    <th>Status</th>
                    <th style="width: 10% !important">Actions</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-ser let-i="rowIndex">
                <tr>
                    <td style="width: 30vw">
                        <span (click)="showUserDeatil(ser)" class="text-xl text-primary pointer font-bold">
                            {{ser?.username}}
                        </span>
                    </td>
                    <td style="width: 30vw">
                        <span  (click)="showUserDeatil(ser)" class="text-xl text-primary pointer ">
                            {{minString(ser?.email,15)}}
                        </span>
                    </td>
                    <td style="width: 10vw"> 
                        <span class="text-xl text-primary ">
                            {{ser?.role?.name}} 
                        </span>
                    </td>
                    <td style="width: 5vw">
                        <span class="text-xl text-primary  bold">
                            <span *ngIf="ser?.blocked ==false " class="Active">Active</span>
                            <span *ngIf="ser?.blocked==true " class="InActive">InActive</span>
                        </span>
                    </td>
                    <td style="width: 10%">
                        <button (click)="showUserDeatil(ser)" pButton pRipple icon="pi pi-pencil text-base"
                            class="p-button-sm  p-button-primary mr-1"></button>
                        <!-- <button  pButton pRipple icon="pi pi-trash text-base"
                            class="p-button-sm mr-1 p-button-danger "></button> -->
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="4">No Services .</td>
                </tr>
            </ng-template>
        </p-table>
    </div>



    <div *ngIf="tabSelected=='roles'" class="grid"></div>
</div>

<app-add-edit-user *ngIf='showUserSidebar' (refreshLish)="getUsers()" [selectedUser]="selectedUser"
    [detailMode]="detailMode" [(display)]="showUserSidebar"></app-add-edit-user>