.sale-row {
  background-color: #ffe5e5; /* أحمر فاتح للمبيعات */
}

.purchase-row {
  background-color: #aff0af; /* أخضر فاتح للمشتريات */
}

.adjustment-row {
  background-color: #e5f0ff; /* أزرق فاتح للتعديلات */
}