<app-loading *ngIf="loading" display="full"></app-loading>
<app-sidebar [display]="display" (displayChange)="onHide()">
    <div header>
        <div class="flex justify-content-between flex-wrap ">
            <div class="flex align-items-center justify-content-center   ">
                <div class="flex-initial flex align-items-center justify-content-center mx-2">
                    <button pButton pRipple type="button" icon="pi pi-times" (click)="onHide()"
                        class="p-button-rounded p-button-secondary p-button-lg p-button-text btn-white "></button>
                </div>
                <div class="flex align-items-center justify-content-center border-break"></div>

            </div>
            <div class="flex align-items-center justify-content-center mx-2 ">
               

                <!-- <button (click)="menu.toggle($event)" pButton
                    pRipple type="button" icon="pi pi-ellipsis-v"
                    class="p-button-rounded mr-2 p-button-secondary p-button-lg p-button-text btn-white "></button>
                <p-menu #menu id="meetingActinos" styleClass="meetingActinos" [popup]="true" appendTo="body"
                    [model]="acions"></p-menu> -->
                <button pButton
                [disabled]="form?.invalid "
                    pRipple type="button" [label]="'Save'|translate" icon="pi pi-check "*ngIf="detailMode&&permissionService.hasPermission('Products', 'update')" (click)="updateProduct()"
                    class="p-button-rounded p-button-outlined p-button-secondary2  p-button-lg text-btn "></button>
                <button pButton
                [disabled]="form?.invalid "
                    pRipple type="button" [label]="'Save'|translate" icon="pi pi-check " *ngIf="!detailMode&&permissionService.hasPermission('Products', 'create')"  (click)="createProduct()"
                    class="p-button-rounded p-button-outlined p-button-secondary2  p-button-lg text-btn "></button>
            </div>
        </div>
    </div>
    <form #form="ngForm" body class="px-5 ">
        <div class="grid ">
            <div class="col-12 pb-4">
                <span class="text-3xl ont-semibold font-bold" translate>Product Details </span>
            </div>
         
            <div class="lg:col-4 sm:col-6 ">
                <app-input [(ngModel)]="selectedProduct.name" [required]="true"
                    name="name" title="{{'Product Name'|translate}}" type="text"></app-input>
            </div>
            <div class="lg:col-4 sm:col-6 ">
                <app-input [(ngModel)]="selectedProduct.price" [required]="true"
                    name="price" title="{{'Price'|translate}}" type="number"></app-input>
            </div>
            <div class="lg:col-4 sm:col-6 ">
                <ng-container>
                    <div class="text-lg font-semibold mb-2" translate>
                        Brand
                    </div>
                </ng-container>
                <p-dropdown [options]="brands" *ngIf="!brandMode" [ngModelOptions]="{standalone: true}" (onChange)="selectBrand($event)" [(ngModel)]="selectedProduct.brand"
                 [filter]="true" appendTo="body" filterBy="name" optionLabel="name" placeholder="{{'Select a Brand'|translate}}">
                    <ng-template pTemplate="selectedItem">
                        <div class="flex align-items-center gap-2" *ngIf="selectedProduct.brand">
                            <div>{{ selectedProduct?.brand?.name }}</div>
                        </div>
                    </ng-template>
                    <ng-template let-item pTemplate="item">
                        <div class="grid">
                            <div class="col-10" style=" margin-top: 10px;font-size: 17px">
                                <span [innerHTML]="item.name"></span>
                            </div>
                            <div class="col-2" *ngIf="(item.id != 0) && item.id != -1">
                                <button style="z-index: 10000; color: #000000;" pButton
                                    pTooltip="Edit" tooltipPosition="bottom"
                                    (click)="selectUpdateBrand(item);brandDialog=true"
                                    class="p-button-text  ml-sm-1" type="button"
                                    icon="fas fa-edit"></button>
                                <button style="z-index: 10000" pButton
                                    pTooltip="Delete" (click)="confirmCancel(item.id)"
                                    tooltipPosition="bottom" class="p-button-text p-button-danger"
                                    type="button" icon="fas fa-trash"></button>
                            </div>
                        </div>
                    </ng-template>
                </p-dropdown>
                <p-button *ngIf="brandMode" [label]="selectedProduct?.brand?.name" [style]="{'width': '31vw'}"
                (click)="brandMode=false" styleClass="p-button-outlined p-button-success"></p-button>
            </div>
            <div class="col-12 pb-4 pt-2">
                <span class="text-3xl ont-semibold font-bold" translate>Stock Details </span>
            </div>
         
            <div class="lg:col-4 sm:col-6 ">
                <app-input [(ngModel)]="selectedProduct.buyPrice" 
                    name="buyPrice" title="{{'Sell Price'|translate}}" type="number"></app-input>
            </div>
            <div class="lg:col-4 sm:col-6 ">
                <app-input [(ngModel)]="selectedProduct.barcode" 
                    name="barcode" title="{{'Barcode'|translate}}" type="text"></app-input>
            </div>
            <div class="lg:col-4 sm:col-6 ">
                <app-input [(ngModel)]="selectedProduct.stocks" [number]="number" 
                    name="stocks" title="{{'Stock'|translate}}" type="number"></app-input>
            </div>
        </div>
      
    </form>
    <div *ngIf="detailMode" body class="grid layout-dashboard relative" style="margin-bottom: 6rem" >
        <div class="col-12 lg:col-6">
            <div class="grid flex-column grid-nogutter">
                <div class="col-12">
                    <div class="card ">
                        <div class="row flex justify-content-between">
    
                        <div class="col-6">
    
                            <h5>{{"Statistics for this product"| translate}}</h5>
                        </div>
                        <div class="col-6" style="display: flex;align-items: flex-end;flex-direction: column">
                            <h5 style="font-size: small">{{'Date'|translate}} :{{fromDate | date:'YYYY-MM-dd'}}</h5>
                            <h5 style="font-size: small"
                                *ngIf="(fromDate| date:'YYYY-MM-dd') != (toDate| date:'YYYY-MM-dd')">{{'To Date'|translate}}
                                :{{toDate | date:'YYYY-MM-dd'}}</h5>
                        </div>
                        </div>
                        <p-chart type="bar" *ngIf="dashboardResults?.totalRevenue>0" [data]="productChart"
                            [options]="basicOptions" height="51vh"></p-chart>
                        <div style="height:51vh" *ngIf="dashboardResults?.totalRevenue === 0" class="text-center">
                            <h4 style="padding-top: 21vh;" translate>
                                <i class="mx-2 pi pi-exclamation-circle text-xl font-bold" 
                                    style=" color:var(--danger)  !important;"></i>
                                No Data to View Chart
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</app-sidebar>
<app-modal [(display)]="dashboardDetails" class="modal-lg">
    <div body>
        <p-accordion *ngFor="let body of dashboardResults?.allproducts">
            <!-- <p-accordionTab [header]="body.orderNo +body.appointment.customer.firstName">
                <p >{{body.services}}</p>
            </p-accordionTab> -->
            <p-accordionTab>
                <ng-template pTemplate="header">
                    <span pTooltip="{{'Customer'|translate}}" showDelay="1000" hideDelay="1000" tooltipPosition="bottom"
                        class="vertical-align-middle py-2">{{ body.appointment?.customer?.firstName}} {{
                        body.appointment?.customer?.middleName}} {{ body.appointment?.customer?.lastName}}</span>
                    <span pTooltip="{{'Order No.'|translate}}" showDelay="1000" hideDelay="1000"
                        tooltipPosition="bottom" class="vertical-align-middle ">{{body.orderNo}}</span>
                    <span pTooltip="{{'Creation Date'|translate}}" showDelay="1000" hideDelay="1000"
                        tooltipPosition="bottom" class="vertical-align-middle py-2">{{body.createdAt | date: 'dd/MM/yyyy hh:mm A'}}</span>
                    <span pTooltip="{{'Cash'|translate}}" showDelay="1000" hideDelay="1000" tooltipPosition="bottom"
                        class="vertical-align-middle">{{body.cash}} {{getCurrencySymbol(cur.code)}}</span>
                    <span pTooltip="{{'Cash'|translate}}" showDelay="1000" hideDelay="1000" tooltipPosition="bottom"
                        [class]="body.status">{{body.status |translate}} </span>
                </ng-template>
                <ng-template pTemplate="content">
                    <div class="block my-1" *ngFor="let item of body?.employee;let i =index ">
                        <ng-container>
                            <div class="text-lg font-semibold mb-2" translate>
                                Employee
                            </div>
                        </ng-container>
                        <div class="flex">
                            <div class="block" style="width: 75%;">
                                <p-button *ngIf="item" [label]="item?.username" [style]="{'width': '50%'}"
                                    (click)="employeeMode=false"
                                    styleClass="p-button-outlined p-button-success"></p-button>
                            </div>

                        </div>
                        <div *ngIf="item.services" class="mt-3 mx-2">
                            <div *ngFor="let ser of item.services;let c =index "
                                class="flex justify-content-between flex-wrap mb-2">
                                <div class=" text-base font-semibold justify-content-between"
                                    style="display: flex;align-items: center;justify-content: space-around;width: 23vw">
                                    <div class="pi pi-circle-fill text-primary text-xs pt-2"></div>
                                    <span class="  font-bold "> {{ser[lang]}} </span>
                                    <span class="  font-bold">
                                        <input type="number" disabled name="price{{i}}{{c}}" pInputText
                                            [(ngModel)]="ser.price" />

                                    </span>
                                </div>

                            </div>
                            <p-divider *ngIf="item.services?.length"></p-divider>
                        </div>
                    </div>
                    <p-divider *ngIf="body.products?.length"></p-divider>
                    <div *ngIf="body.products?.length" class="mt-3">
                        <p-table [value]="body.products" [tableStyle]="{'width.%': 100}">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th translate>Product Name</th>
                                    <th translate>Price</th>
                                    <th translate>Quantity</th>
                                    <th translate>Brand</th>
                                    <th translate>Total</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-product let-s="rowIndex">
                                <tr>
                                    <td class=" px-2 font-bold">{{ product.name }}</td>
                                    <td>
                                        <span class=" px-2 font-bold">
                                            <input type="number" [value]="product.price" disabled
                                                [ngModelOptions]="{standalone: true}" pInputText
                                                [(ngModel)]="product.price" />
                                        </span>
                                    </td>
                                    <td>
                                        <span class="  font-bold">
                                            <input type="number" name="qty{{s}}" disabled pInputText
                                                [(ngModel)]="product.qty" />
                                        </span>
                                    </td>
                                    <td>
                                        <span class="  font-bold">
                                            {{product?.brand?.name}}
                                        </span>
                                    </td>
                                    <td>
                                        <span class="  font-bold">
                                            {{product.price*product.qty}} {{getCurrencySymbol(cur.code)}}
                                        </span>
                                    </td>


                                </tr>
                            </ng-template>
                        </p-table>

                    </div>
                </ng-template>
            </p-accordionTab>
        </p-accordion>
    </div>

</app-modal>
<app-modal [(display)]="brandDialog" [title]="headerDialog" class="modal-sm">
    <div body>
        <app-input [(ngModel)]="brandName" name="brandName" title="Brand" type="text"></app-input>
    </div>''
    <div footer>
        <button (click)="brandDialog=false" pButton pRipple type="button" label=" {{'Cancel' |translate}}"
            icon='pi pi-times {{"css.mr-2"|translate}}' class="p-button-secondary p-button-outlined"></button>
        <button  pButton pRipple type="button" label=" {{'Save' |translate}}" (click)="brandEdit?updateBrand('update'):createBrand()"
            class="p-button-primary"></button>
    </div>
</app-modal>

<div *ngIf="detailMode">
    <div style="right: 5vw;top: 74vh;z-index: 99999" class="fixed">
        <p-speedDial appendTo="body" buttonClassName="dashbored-btn" showIcon="pi pi-filter " [model]="items"></p-speedDial>
    </div>
</div>
<app-from-to-date (displayChange)="displayDate=false" [(display)]="displayDate" (dateChange)="productInfo($event)"></app-from-to-date>