<p-card *ngIf="chartConfig" class="chart-card">
  <ng-template pTemplate="header">
    <div class="card-header">
      <span class="card-title">Chart Data</span>
      <button
        pButton
        icon="pi pi-external-link"
        class="p-button-rounded p-button-text p-button-sm"
        (click)="openPreview()"
        pTooltip="Expand Chart"
        tooltipPosition="left"
      ></button>
    </div>
  </ng-template>

  <p-chart
    [type]="chartConfig.type"
    [data]="chartConfig.data"
    [options]="chartConfig.options"
    [style]="{ height: '300px' }"
  ></p-chart>
</p-card>

<!-- Preview Modal -->
<p-dialog
  [(visible)]="showPreview"
  [modal]="true"
  [dismissableMask]="true"
  [draggable]="false"
  [resizable]="false"
  [style]="{ width: '90vw', height: '80vh' }"
  styleClass="chart-preview-dialog"
  header="Chart Preview"
>
  <p-chart
    *ngIf="chartConfig"
    [type]="chartConfig.type"
    [data]="chartConfig.data"
    [options]="chartConfig.options"
    [style]="{ height: 'calc(80vh - 120px)' }"
  ></p-chart>
</p-dialog>
