<app-loading *ngIf="loading" display="full"></app-loading>
<p-toast position="top-right"></p-toast>
<div class="grid layout-dashboard relative" style="overflow-x: hidden">
  <!-- <div class="col-6 card">
        <h5> {{"Total of today's orders"| translate}}</h5>
        <p-chart type="bar" [data]="toDayChart" [options]="basicOptions"></p-chart>
    </div> -->
  <div class="col-12 flex">
    <div class="col-3 flipup animation-duration-1000">
      <div style="background: linear-gradient(#007f6a5c, transparent)"
        class="card flex flex-row justify-content-evenly align-items-center">
        <div class="flex">
          <i class="pi pi-dollar text-4xl text-green-400"></i>
        </div>
        <div class="flex-column">
          <span class="text-lg font-semibold">{{
            (fromDate | date : "YYYY-MM-dd") == (toDate | date : "YYYY-MM-dd")
            ? ("Today's Cash" | translate)
            : ("Total of Cash" | translate)
            }}</span>
          <div class="text-2xl font-bold text-green-600 mt-2">
            {{ totalcash | number : "1.2-2" }} {{ getCurrencySymbol(cur.code) }}
          </div>
        </div>
      </div>
    </div>
    <div class="col-3 flipup animation-duration-1000">
      <div style="background: linear-gradient(#007f6a5c, transparent)"
        class="card flex flex-row justify-content-evenly align-items-center">
        <div class="flex">
          <i class="pi pi-money-bill text-4xl text-green-400"></i>
        </div>
        <div class="flex-column">
          <span class="text-lg font-semibold">{{
            (fromDate | date : "YYYY-MM-dd") == (toDate | date : "YYYY-MM-dd")
            ? ("Total of today's orders" | translate)
            : ("Total of orders" | translate)
            }}</span>
          <div class="text-2xl font-bold text-green-600 mt-2">
            {{ results?.entities?.length }}
          </div>
        </div>
      </div>
    </div>
    <div class="col-3 flipup animation-duration-1000">
      <div style="background: linear-gradient(#007f6a5c, transparent)"
        class="card flex flex-row justify-content-evenly align-items-center">
        <div class="flex">
          <i class="pi pi-money-bill text-4xl text-green-400"></i>
        </div>
        <div class="flex-column">
          <span class="text-lg font-semibold">{{
            (fromDate | date : "YYYY-MM-dd") == (toDate | date : "YYYY-MM-dd")
            ? ("Total of today's purchase orders" | translate)
            : ("Total of purchase orders" | translate)
            }}</span>
          <div class="text-2xl font-bold text-green-600 mt-2">
            {{ results?.poLength }}
          </div>
        </div>
      </div>
    </div>
    <div class="col-3 flipup animation-duration-1000">
      <div style="background: linear-gradient(#007f6a5c, transparent)"
        class="card flex flex-row justify-content-evenly align-items-center">
        <div class="flex">
          <i class="pi pi-dollar text-4xl text-green-400"></i>
        </div>
        <div class="flex-column">
          <span class="text-lg font-semibold">{{
            (fromDate | date : "YYYY-MM-dd") == (toDate | date : "YYYY-MM-dd")
            ? ("Total of today's cost" | translate)
            : ("Total of cost" | translate)
            }}</span>
          <div class="text-2xl font-bold text-green-600 mt-2">
            {{ results?.cashPo }} {{ getCurrencySymbol(cur.code) }}
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="col-12 lg:col-6">
        <div class="grid flex-column grid-nogutter">
            <div class="col-12">
                <div class="card cardColor">
                    <div class="row flex justify-content-between">
                        <div class="col-6">
                            <h5>{{"Total of today's orders"| translate}} </h5>
                        </div>
                        <div class="col-6" style="display: flex;
                       align-items: flex-end;
                       flex-direction: column">
                            <h5 style="font-size: small">{{'Date'|translate}} :{{fromDate | date:'YYYY-MM-dd'}}
                            </h5>
                            <h5 style="font-size: small"
                                *ngIf="(fromDate| date:'YYYY-MM-dd') != (toDate| date:'YYYY-MM-dd')">{{'To Date'|translate}} :{{toDate | date:'YYYY-MM-dd'}}</h5>
                        </div>
                    </div>
                    <p-chart type="bar" *ngIf="results?.entities?.length" [data]="toDayChart" [options]="basicOptions"
                        height="51vh"></p-chart>
                    <div style="height:51vh" *ngIf="!results.entities?.length" class="text-center">
                        <h4 style="padding-top: 21vh;" translate>
                            <i class="mx-2 pi pi-exclamation-circle text-xl font-bold"
                                style=" color:var(--danger)  !important;"></i>
                            No Data to View Chart
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 lg:col-6">
        <div class="grid flex-column grid-nogutter">
            <div class="col-12">
                <div class="card cardColor">
                    <div class="row flex justify-content-between">
                        <div class="col-6">
                            <h5>{{"Today's Cash"| translate}}</h5>
                        </div>
                        <div class="col-6" style="display: flex;
                        align-items: flex-end;
                        flex-direction: column">
                            <h5 style="font-size: small">{{'Date'|translate}} :{{fromDate | date:'YYYY-MM-dd'}}
                            </h5>
                            <h5 style="font-size: small"
                                *ngIf="(fromDate| date:'YYYY-MM-dd') != (toDate| date:'YYYY-MM-dd')">{{'To Date'|translate}} :{{toDate | date:'YYYY-MM-dd'}}</h5>
                        </div>
                    </div>
                    <p-chart type="bar" *ngIf="totalcash" [data]="todayCashChart" [options]="basicOptions"
                        height="51vh"></p-chart>
                    <div style="height:51vh" *ngIf="!totalcash" class="text-center">
                        <h4 style="padding-top: 21vh;" translate>
                            <i class="mx-2 pi pi-exclamation-circle text-xl font-bold"
                                style=" color:var(--danger)  !important;"></i>
                            No Data to View Chart
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div> -->

  <div class="col-12 lg:col-6">
    <div class="grid flex-column grid-nogutter">
      <div class="col-12">
        <div class="card cardColor animation-duration-1000"
          [ngClass]="{ fadeinrigth: lang == 'en', fadeinleft: lang == 'ar' }">
          <div class="row flex justify-content-between">
            <div class="col-6">
              <h5>{{ "Top 5 Services" | translate }}</h5>
            </div>
            <div class="col-6" style="
                display: flex;
                align-items: flex-end;
                flex-direction: column;
              ">
              <h5 style="font-size: small">
                {{ "Date" | translate }} :{{ fromDate | date : "YYYY-MM-dd" }}
              </h5>
              <h5 style="font-size: small" *ngIf="
                  (fromDate | date : 'YYYY-MM-dd') !=
                  (toDate | date : 'YYYY-MM-dd')
                ">
                {{ "To Date" | translate }} :{{ toDate | date : "YYYY-MM-dd" }}
              </h5>
            </div>
          </div>
          <p-chart type="bar" *ngIf="results.topServices?.length" [data]="topServicesChart" [options]="basicOptions"
            height="51vh"></p-chart>
          <div style="height: 51vh" *ngIf="!results.topServices?.length" class="text-center">
            <h4 style="padding-top: 21vh" translate>
              <i class="mx-2 pi pi-exclamation-circle text-xl font-bold" style="color: var(--danger) !important"></i>
              No Data to View Chart
            </h4>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 lg:col-6">
    <div class="grid flex-column grid-nogutter">
      <div class="col-12">
        <div class="card cardColor animation-duration-1000">
          <div class="row flex justify-content-between">
            <div class="col-6">
              <h5>{{ "Top 5 Products" | translate }}</h5>
            </div>
            <div class="col-6" style="
                display: flex;
                align-items: flex-end;
                flex-direction: column;
              ">
              <h5 style="font-size: small">
                {{ "Date" | translate }} :{{ fromDate | date : "YYYY-MM-dd" }}
              </h5>
              <h5 style="font-size: small" *ngIf="
                  (fromDate | date : 'YYYY-MM-dd') !=
                  (toDate | date : 'YYYY-MM-dd')
                ">
                {{ "To Date" | translate }} :{{ toDate | date : "YYYY-MM-dd" }}
              </h5>
            </div>
          </div>
          <p-chart type="bar" *ngIf="results.topProducts?.length" [data]="topProductsChart" [options]="basicOptions"
            height="51vh"></p-chart>
          <div style="height: 51vh" *ngIf="!results.topProducts?.length" class="text-center">
            <h4 style="padding-top: 21vh" translate>
              <i class="mx-2 pi pi-exclamation-circle text-xl font-bold" style="color: var(--danger) !important"></i>
              No Data to View Chart
            </h4>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 lg:col-6">
    <div class="grid flex-column grid-nogutter">
      <div class="col-12">
        <div class="card cardColor animation-duration-1000 flip">
          <h5>{{ "Orders Status" | translate }}</h5>
          <p-chart type="bar" *ngIf="results" [data]="orderStutsChart" [options]="basicOptions" height="51vh"></p-chart>
          <div style="height: 51vh" *ngIf="!results" class="text-center">
            <h4 style="padding-top: 21vh" translate>
              <i class="mx-2 pi pi-exclamation-circle text-xl font-bold" style="color: var(--danger) !important"></i>
              No Data to View Chart
            </h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="w-screen">
  <div style="right: 5vw; top: 62vh" class="fixed">
    <p-speedDial buttonClassName="dashbored-btn" showIcon="pi pi-filter " [model]="items"></p-speedDial>
  </div>
</div>
<app-modal [(display)]="dashboardDatesDialog" class="modal-sm">
  <div body>
    <div class="grid">
      <div class="col-6 mt-3">
        <div class="p-inputgroup">
          <span class="p-float-label">
            <p-calendar dateFormat="dd-mm-yy" [(ngModel)]="fromDate" appendTo="body" [style]="{ width: '100%' }"
              [showIcon]="true" yearNavigator="true">
            </p-calendar>
            <label for="vat-input" translate>From Date</label>
          </span>
        </div>
      </div>
      <div class="col-6 mt-3">
        <div class="p-inputgroup">
          <span class="p-float-label">
            <p-calendar dateFormat="dd-mm-yy" appendTo="body" [(ngModel)]="toDate" [style]="{ width: '100%' }"
              [showIcon]="true" yearNavigator="true">
            </p-calendar>
            <label for="vat-input" translate>To Date</label>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div footer>
    <button pButton pRipple (click)="dashboardDatesDialog = false" type="button" label=" {{ 'Cancel' | translate }}"
      icon="pi pi-times {{ 'css.mr-2' | translate }}" class="p-button-secondary p-button-outlined"></button>
    <button pButton pRipple (click)="count(); dashboardDatesDialog = false" type="button"
      label=" {{ 'Apply' | translate }}" class="p-button-primary"></button>
  </div>
</app-modal>
<app-modal [(display)]="dashboardDetails" class="modal-lg">
  <div body>
    <p-accordion *ngFor="let body of results.entities">
      <!-- <p-accordionTab [header]="body.orderNo +body.appointment.customer.firstName">
                <p >{{body.services}}</p>
            </p-accordionTab> -->
      <p-accordionTab>
        <ng-template pTemplate="header">
          <span pTooltip="{{ 'Customer' | translate }}" showDelay="1000" hideDelay="1000" tooltipPosition="bottom"
            class="vertical-align-middle py-2">{{ body.appointment?.customer?.firstName }}
            {{ body.appointment?.customer?.middleName }}
            {{ body.appointment?.customer?.lastName }}</span>
          <span pTooltip="{{ 'Order No.' | translate }}" showDelay="1000" hideDelay="1000" tooltipPosition="bottom"
            class="vertical-align-middle">{{ body.orderNo }}</span>
          <span pTooltip="{{ 'Creation Date' | translate }}" showDelay="1000" hideDelay="1000" tooltipPosition="bottom"
            class="vertical-align-middle py-2">{{ body.createdAt | date : "dd/MM/yyyy hh:mm A" }}</span>
          <span pTooltip="{{ 'Cash' | translate }}" showDelay="1000" hideDelay="1000" tooltipPosition="bottom"
            class="vertical-align-middle">{{ body.cash }} {{ getCurrencySymbol(cur.code) }}</span>
          <span pTooltip="{{ 'Cash' | translate }}" showDelay="1000" hideDelay="1000" tooltipPosition="bottom"
            [class]="body.status">{{ body.status | translate }}
          </span>
        </ng-template>
        <ng-template pTemplate="content">
          <div class="block my-1" *ngFor="let item of body?.appointment?.employee; let i = index">
            <ng-container>
              <div class="text-lg font-semibold mb-2" translate>Employee</div>
            </ng-container>
            <div class="flex">
              <div class="block" style="width: 75%">
                <p-button *ngIf="item" [label]="item?.username" [style]="{ width: '50%' }"
                  (click)="employeeMode = false" styleClass="p-button-outlined p-button-success"></p-button>
              </div>
            </div>
            <div *ngIf="item.services" class="mt-3 mx-2">
              <div *ngFor="let ser of item.services; let c = index" class="flex justify-content-between flex-wrap mb-2">
                <div class="text-base font-semibold justify-content-between" style="
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                    width: 23vw;
                  ">
                  <div class="pi pi-circle-fill text-primary text-xs pt-2"></div>
                  <span class="font-bold"> {{ ser[lang] }} </span>
                  <span class="font-bold">
                    <input type="number" disabled name="price{{ i }}{{ c }}" pInputText [(ngModel)]="ser.price" />
                  </span>
                </div>
              </div>
              <p-divider *ngIf="item.services?.length"></p-divider>
            </div>
          </div>
          <p-divider *ngIf="body.products?.length"></p-divider>
          <div *ngIf="body.products?.length" class="mt-3">
            <p-table [value]="body.products" [tableStyle]="{ 'width.%': 100 }">
              <ng-template pTemplate="header">
                <tr>
                  <th translate>Product Name</th>
                  <th translate>Price</th>
                  <th translate>Quantity</th>
                  <th translate>Brand</th>
                  <th translate>Total</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-product let-s="rowIndex">
                <tr>
                  <td class="px-2 font-bold">{{ product.name }}</td>
                  <td>
                    <span class="px-2 font-bold">
                      <input type="number" [value]="product.price" disabled [ngModelOptions]="{ standalone: true }"
                        pInputText [(ngModel)]="product.price" />
                    </span>
                  </td>
                  <td>
                    <span class="font-bold">
                      <input type="number" name="qty{{ s }}" disabled pInputText [(ngModel)]="product.qty" />
                    </span>
                  </td>
                  <td>
                    <span class="font-bold">
                      {{ product?.brand?.name }}
                    </span>
                  </td>
                  <td>
                    <span class="font-bold">
                      {{ product.price * product.qty }}
                      {{ getCurrencySymbol(cur.code) }}
                    </span>
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
          <div class="grid">
            <div class="col-12">
              <h4 class="text-primary text-center pointer" (click)="viewOrder(body)"
                style="font-size: 1rem; margin: auto; padding-top: 1rem" translate>
                View Order
              </h4>
            </div>
          </div>
        </ng-template>
      </p-accordionTab>
    </p-accordion>
  </div>
</app-modal>
<app-modal [(display)]="poDashboard" class="modal-lg">
  <div body>
    <p-accordion *ngFor="let body of results.po">
      <!-- <p-accordionTab [header]="body.orderNo +body.appointment.customer.firstName">
                <p >{{body.services}}</p>
            </p-accordionTab> -->
      <p-accordionTab>
        <ng-template pTemplate="header">
          <span pTooltip="{{ 'Company' | translate }}" showDelay="1000" hideDelay="1000" tooltipPosition="bottom"
            class="vertical-align-middle py-2">{{ body.vendor.company }}</span>
          <span pTooltip="{{ 'PO No.' | translate }}" showDelay="1000" hideDelay="1000" tooltipPosition="bottom"
            class="vertical-align-middle">{{ body.no }}</span>
          <span pTooltip="{{ 'Creation Date' | translate }}" showDelay="1000" hideDelay="1000" tooltipPosition="bottom"
            class="vertical-align-middle py-2">{{ body.createdAt | date : "dd/MM/yyyy hh:mm A" }}</span>
          <span pTooltip="{{ 'Cash' | translate }}" showDelay="1000" hideDelay="1000" tooltipPosition="bottom"
            class="vertical-align-middle">{{ body.cash }} {{ getCurrencySymbol(cur.code) }}</span>
          <span pTooltip="{{ 'Status' | translate }}" showDelay="1000" hideDelay="1000" tooltipPosition="bottom"
            [class]="body.status">{{ body.status | translate }}
          </span>
        </ng-template>
        <ng-template pTemplate="content">
          <div *ngIf="body.products?.length" class="mt-3">
            <p-table [value]="body.products" [tableStyle]="{ 'width.%': 100 }">
              <ng-template pTemplate="header">
                <tr>
                  <th translate>Product Name</th>
                  <th translate>Sell Price</th>
                  <th translate>Quantity</th>
                  <th translate>Brand</th>
                  <th translate>Total</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-product let-s="rowIndex">
                <tr>
                  <td class="px-2 font-bold">{{ product.name }}</td>
                  <td>
                    <span class="px-2 font-bold">
                      <input type="number" [value]="product.price" disabled [ngModelOptions]="{ standalone: true }"
                        pInputText [(ngModel)]="product.sellPrice" />
                    </span>
                  </td>
                  <td>
                    <span class="font-bold">
                      <input type="number" name="qty{{ s }}" disabled pInputText [(ngModel)]="product.qty" />
                    </span>
                  </td>
                  <td>
                    <span class="font-bold">
                      {{ product?.brand?.name }}
                    </span>
                  </td>
                  <td>
                    <span class="font-bold">
                      {{ product.sellPrice * product.qty }}
                      {{ getCurrencySymbol(cur.code) }}
                    </span>
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
          <div class="grid">
            <div class="col-12">
              <h4 class="text-primary text-center pointer" (click)="viewPoOrder(body)"
                style="font-size: 1rem; margin: auto; padding-top: 1rem" translate>
                View Purchase Order
              </h4>
            </div>
          </div>
        </ng-template>
      </p-accordionTab>
    </p-accordion>
  </div>
</app-modal>
<app-add-edit-order *ngIf="showOrderSidebar" [selectedOrder]="selectedOrder" [detailMode]="true"
  [(display)]="showOrderSidebar"></app-add-edit-order>

<app-purchase-order-form *ngIf="showPoOrderSidebar" [po]="selectedPo" [(display)]="showPoOrderSidebar"
  [detailMode]="true"></app-purchase-order-form>