<app-loading *ngIf="loading" display="full"></app-loading>
<p-toast position="top-right"></p-toast>
<div class="flex flex-wrap " style="overflow: hidden;">
    <div class=" w-12  h-screen bg-white flex align-items-center justify-content-center relative">
            <div class="login-wrapper ">
                <div class="grid ">
                    <div class="col-12 text-center">
                    </div>
                    <div *ngIf="emailMode" class="col-12 ">
                        <div class="text-lg font-semibold mb-2" translate>
                            Email
                        </div>
                        <input pInputText id="email" [(ngModel)]="email" placeholder="{{'Email'|translate}}"
                            class="p-inputtext-lg" />

                    </div>
                    <div *ngIf="!emailMode" class="col-12 pt-2">
                        <div class="text-lg font-semibold mb-2" translate>
                            Password
                        </div>
                        <input pInputText id="password" type="password" [(ngModel)]="password" class="p-inputtext-lg"
                            placeholder=" {{'Password'|translate}}" />
                        <div class="text-lg font-semibold mb-2" translate>
                          Confirm Password
                        </div>
                        <input pInputText id="confirm" type="password" [(ngModel)]="confirm" class="p-inputtext-lg"
                            placeholder="Confirm Password" />
                    </div>


                    <div class="col-12 text-center pt-5">
                        <button pButton pRipple *ngIf="emailMode"
                            label="إرسال أيميل" (click)="sendEmail()"
                            type="button" class="p-button-lg w-12"></button>

                        <div class="mt-3 ">
                            <a [routerLink]="['/login']" translate class="font-semibold text-500 text-lg"> Go Back</a>

                        </div>
                    </div>

                </div>

                <div class="login-footer py-2">
                    <h6 translate>Diwan-footer</h6>
                </div>
            </div>
       
    </div>


</div>