<app-loading *ngIf="loading" display="full"></app-loading>
<p-toast position="top-right"></p-toast>
<p-confirmDialog appendTo="body"></p-confirmDialog>

<div style="height:calc(100vh - 68px) ;" class="grid  pt-0">
    <div class="lg:col-6 sm:col-12 pt-0">
        <div class="card home-Card border-noround">
            <div class="px-3 pt-2">
                <!-- User -->
                <div class=" text-6xl font-bold  text-color" translate>Welcome Back,<br>
                    {{currentUser}}
                </div>
                <!-- Tasks -->
                <div class=" text-4xl font-semibold text-500 mt-5">
                    {{'You have'|translate}} <span class="text-primary font-bold "> 3</span>
                    <span class="text-primary font-bold " translate> Appointments</span>, {{'We recommend that you please finish them' |translate}}
                </div>

                <!-- Responsibilities -->
                <div style="margin-top: 10rem;">
                    <div class=" text-4xl font-semibold mb-4" translate>
                        YOUR RESPONSIBILITIES
                    </div>
                    <!-- summary -->
                    <div class="grid">
                        <div *ngFor="let item of statistics?.raci" class="col-3">
                            <div class="text-5xl " [style.color]="item?.details?.color">{{item?.value}}</div>
                            <div class="text-2xl text-500">{{item?.name}}</div>
                        </div>

                    </div>

                </div>
            </div>

        </div>
    </div>

   
</div>
