<app-loading *ngIf="loading" display="full"></app-loading>
<p-toast position="top-right"></p-toast>
<!-- <p-confirmDialog containerStyleClass="vw" acceptButtonStyleClass="p-button-danger" acceptIcon="pi pi-trash"
    rejectButtonStyleClass="p-button-text" appendTo="body"></p-confirmDialog> -->
<div class="grid card h-full">
    <p-tabMenu class="col-12" [model]="tabIndex" [activeItem]="tabIndex[0]"></p-tabMenu>

    <div class="col-12" style="display: flex;flex-direction: column;align-items: center;" *ngIf="tabSelected=='main'">
        <div style="display: flex;width: 100%;">
            <div class="col-3">
                <p style="font-size: large">
                    Active Booking from Mobile
                </p>
            </div>
            <div class="col-3">
                <p-toggleButton  (onChange)="updateMainSettings('booking',$event.checked)"  [(ngModel)]="dataSetting.booking" class="p-button-sm  p-button-primary mr-1" onLabel="{{'Yes'|translate}}"
                    offLabel="{{'No'|translate}}">
                </p-toggleButton>
            </div>
        </div>
        <div style="display: flex;width: 100%;">
            <div class="col-3">
                <p style="font-size: large">
                   Theme Color
                </p>
            </div>
            <div class="col-3">
                <p-toggleButton [(ngModel)]="dataSetting.isDark" class="p-button-sm  p-button-primary mr-1" onLabel="{{'Dark'|translate}}"
                    offLabel="{{'Ligth'|translate}}">
                </p-toggleButton>
            </div>
        </div>
        <div style="display: flex;width: 100%;">
            <div class="col-3">
                <p style="font-size: large">
                    Contact No.
                </p>
            </div>
            <div class="lg:col-3 sm:col-6 flex " style="justify-content: space-between">
                <app-input-mask style="width: 70%" [(ngModel)]="dataSetting.phone" name="phone"></app-input-mask>
                <button type="button" (click)="updateMainSettings('phone',dataSetting.phone)"
                [label]="'Save'|translate" pRipple pButton
                ></button>
            </div>
        </div>

    </div>
    <div *ngIf="tabSelected=='gallary'" class="grid">
        <app-gallary></app-gallary>
    </div>
</div>