<div class="block">

    <div *ngIf="hideTitle==false" class="text-lg font-semibold mb-2">{{title}}
        <span *ngIf="required && !selectedStatus" style="color: var(--danger) !important">*</span>
    </div>
    <p-dropdown [options]="data" [filter]="filter" [name]="title" appendTo="body" [required]="required"
        [(ngModel)]="selectedStatus" [disabled]="disabled" [optionLabel]="optionLabel" [filterBy]="optionLabel"
        placeholder="{{'Enter'|translate}} {{placeholder?placeholder:title}}" styleClass="dropdown-select">
        <ng-template pTemplate="selectedItem">
            <div  >
                {{selectedStatus[optionLabel] |translate}}
            </div>
        </ng-template>
        <ng-template let-statue pTemplate="item">
            <div class="my-2">
                
                <span [style.color]="statue== selectedStatus ?'#fff':null" translate> {{statue[optionLabel]}} 


                </span>

            </div>

        </ng-template>
    </p-dropdown>
</div>