<app-loading *ngIf="loading" display="full"></app-loading>
<p-toast position="top-right"></p-toast>
<div style="height:calc(100vh - 68px) ;" class="grid card">

    <p-table #kt [value]="appointments" [rowHover]="true" (onPage)="getAppointments(($event?.first/rowNum)+1)"
        [paginator]="true" [rows]='rowNum' currentPageReportTemplate="Showing {first} to {last} entries"
        [showCurrentPageReport]="true"
        [scrollable]="true" [tableStyle]="{'width.%': 100}" scrollHeight="80vh">

        <ng-template pTemplate="caption" dataKey="id">
            <div class="flex align-items-center justify-content-between">
                <div>
                    <h5 class="m-0 primary" translate>Appointments Manager</h5>
                    <label class="text-600 ">
                        In total there are <label class="text-primary font-bold ">
                            {{appointments ? total : 0 }}</label> Appointments .
                    </label>
                </div>

            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th translate>Appointment No.
                    <p-columnFilter [showApplyButton]="false" [showClearButton]="false"
                    [ngClass]="fillterFildes?.number?.status?'status-filter':null" type="text" field="id"
                    matchMode="equals" display="menu" [showMatchModes]="false" [showOperator]="false"
                    [showAddButton]="false">
                    <ng-template pTemplate="filter">
                        <div class="mt-3">
                            <input [disabled]="fillterFildes?.number?.status" [(ngModel)]="fillterFildes.number.value"
                                type="text" pInputText>
                        </div>
                        <div class="grid mt-2">
                            <div class="col-6">
                                <button pButton label='Clear' class="p-button-outlined"
                                    (click)="fillterFildes.number.value=null;fillterFildes.number.status=flase;clearAllFillter()"
                                    type="button">
                                </button>
                            </div>
                            <div class="col-6">
                                <button pButton [disabled]="!fillterFildes.number.value" label='Apply'
                                    (click)="fillterFildes.number.name='number';fillterFildes.number.status=true;fillterFildes.number.type='$contains';getAppointments(1,fillterFildes?.number)"
                                    type="button">
                                </button>
                            </div>
                        </div>
                    </ng-template>
                </p-columnFilter>
                </th>
               
                <th translate>Customer</th>
                <th translate>Status
                    <p-columnFilter [showApplyButton]="false" [showClearButton]="false"
                        [ngClass]="fillterFildes?.status?.status?'status-filter':null" type="text" field="id"
                        matchMode="equals" display="menu" [showMatchModes]="false" [showOperator]="false"
                        [showAddButton]="false">
                        <ng-template pTemplate="filter">
                            <p-dropdown [disabled]="fillterFildes?.status?.status" [options]="status"
                                [showClear]="true" [(ngModel)]="fillterFildes.status.value"
                                placeholder='Select Status' optionValue="label" optionLabel="label">
                                <ng-template let-item pTemplate="item">
                                    <span [class]="item.label">{{item.label}}</span>
                                </ng-template>
                            </p-dropdown>
                            <div class="grid mt-2">
                                <div class="col-6">
                                    <button pButton label='Clear' class="p-button-outlined"
                                        (click)="fillterFildes.status.value=null;fillterFildes.status.status=flase;clearAllFillter()"
                                        type="button">
                                    </button>
                                </div>
                                <div class="col-6">
                                    <button pButton label='Apply'
                                        (click)="fillterFildes.status.name='status';fillterFildes.status.status=true;fillterFildes.status.type='$contains';getAppointments(1,fillterFildes?.status)"
                                        type="button">
                                    </button>
                                </div>
                            </div>
                        </ng-template>
                    </p-columnFilter>
                </th>
                <th translate> Creation Date</th>
                <th translate>Approved</th>
                <th translate>Actions</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-appo let-i="rowIndex">
            <tr>
                <td>
                    <span class="text-xl text-primary pointer font-bold" (click)="getAppointment(appo.id)">
                        {{appo?.attributes?.number ? appo?.attributes?.number:'No Number' }}
                    </span>
                </td>
                <td>
                    <span class="text-xl text-primary pointer ">
                        {{appo.attributes?.customer.firstName }} {{appo.attributes?.customer.middleName }}
                        {{appo.attributes?.customer.lastName }}
                    </span>
                </td>

                <td>
                    <span class="text-xl text-primary  bold">
                        <span *ngIf="appo.attributes?.status"
                            [class]="appo.attributes?.status">{{appo.attributes?.status}}</span>
                    </span>
                </td>
                <td>
                    <span class="text-xl text-primary ">
                        {{appo.attributes?.updatedAt| date:'YYYY-MM-dd HH:mm'}}
                    </span>
                </td>
                <td>
                    <span *ngIf="appo.attributes?.approved==true " class="Completed" translate>Approved</span>
                    <span *ngIf="appo.attributes?.approved==false " class="Canceled" translate>UnApproved</span>
                </td>
                <td>
                    <button pButton pRipple icon="pi pi-pencil text-base"
                        class="p-button-sm  p-button-primary mr-1"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="4" translate>No Appointments .</td>
            </tr>
        </ng-template>
    </p-table>
</div>
<app-add-appo *ngIf="showSppoSidebar" (refreshLish)="getAppointments(1, null, false)" [appointment]="Appointment"
   [id]="id"  [detailMode]="true" [(display)]="showSppoSidebar"></app-add-appo>