<p-columnFilter
  [showApplyButton]="false"
  [showClearButton]="false"
  type="text"
  matchMode="equals"
  display="menu"
  [showMatchModes]="false"
  [showOperator]="false"
  [showAddButton]="false"
>
  <ng-template pTemplate="filter">
    <ng-container *ngIf="filterValue.filter == 'text'">
      <div class="mt-3">
        <input
          [disabled]="filterValue?.status"
          [(ngModel)]="filterValue.value"
          type="text"
          pInputText
        />
      </div>
    </ng-container>
    <ng-container *ngIf="filterValue.filter == 'dropdown'||filterValue.filter == 'boolean'">
      <p-dropdown
        [disabled]="filterValue.status"
        [options]="filterValue.filter == 'boolean'?booleanList:filterValue.data"
        [showClear]="true"
        [(ngModel)]="filterValue.value"
        placeholder="{{ 'Select Status' | translate }}"
        optionValue="label"
        optionLabel="label"
      >
        <ng-template let-item pTemplate="item">
          <span *ngIf="filterValue.filter != 'boolean'" [class]="item.label">{{ item.label | translate }}</span>
          <span *ngIf="filterValue.filter == 'boolean'"  [class]="item.label == 'Yes' ? 'Completed' : 'Canceled'">{{ item.label | translate }}</span>
          
        </ng-template>
      </p-dropdown>
    </ng-container>
    <ng-container *ngIf="filterValue.filter=='date'">
       <p-dropdown
                [disabled]="filterValue.status"
                [options]="queryTypes"
                [(ngModel)]="filterValue.type"
                placeholder="{{ 'Select filter Type' | translate }}"
                optionValue="value"
                optionLabel="type"
              >
                <ng-template let-item pTemplate="item">
                  <span>{{ item.type | translate }}</span>
                </ng-template>
              </p-dropdown>
              <div class="mt-3">
                <p-calendar
                  [disabled]="filterValue.status"
                  dateFormat="dd-mm-yy"
                  [showIcon]="true"
                  yearNavigator="true"
                  [(ngModel)]="filterValue.value"
                >
                </p-calendar>
              </div>
    </ng-container>
    <div class="grid mt-2">
      <div class="col-6">
        <button
          pButton
          label="{{ 'Clear' | translate }}"
          class="p-button-outlined"
          (click)="clearFilter()"
          type="button"
        ></button>
      </div>
      <div class="col-6">
        <button
          pButton
          [disabled]="!filterValue.value"
          label="{{ 'Apply' | translate }}"
          (click)="applyFilter(filterValue)"
          type="button"
        ></button>
      </div>
    </div>
  </ng-template>
</p-columnFilter>
