<app-loading *ngIf="loading" display="full"></app-loading>
<p-toast position="top-right"></p-toast>
<p-confirmDialog containerStyleClass="vw" acceptButtonStyleClass="p-button-danger"
    acceptIcon="pi pi-trash"></p-confirmDialog>
<app-sidebar [display]="display" (displayChange)="onHide()">
    <div header>
        <div class="flex justify-content-between flex-wrap ">
            <div *ngIf="detailMode" class="flex align-items-center justify-content-center   ">
                <div class="flex-initial flex align-items-center justify-content-center mx-2">
                    <button pButton pRipple type="button" icon="pi pi-times" (click)="onHide()"
                        class="p-button-rounded p-button-secondary p-button-lg p-button-text btn-white "></button>
                </div>
                <div class="flex align-items-center justify-content-center border-break"></div>

            </div>
            <div *ngIf="!detailMode" class="flex align-items-center justify-content-center   ">

                <div class="flex-initial flex align-items-center justify-content-center mx-2">
                    <button pButton (click)="onHide()" pRipple type="button" icon="pi pi-times"
                        class="p-button-rounded p-button-secondary p-button-lg p-button-text btn-white "></button>
                </div>
                <div class="flex align-items-center justify-content-center border-break"></div>

                <div class="flex-initial flex align-items-center justify-content-center px-3">
                    <span class="text-3xl text-white " translate>Add Role </span>

                </div>
            </div>
            <div class="flex align-items-center justify-content-center mx-2 ">
                <div class="flex align-items-center justify-content-center mx-2 ">
                    <button *ngIf="detailMode" (click)="menu.toggle($event)" pButton pRipple type="button"
                        icon="pi pi-ellipsis-v"
                        class="p-button-rounded mr-2 p-button-secondary p-button-lg p-button-text btn-white "></button>

                    <button *ngIf="!detailMode" pButton [disabled]="form?.invalid || !selectedRole.role " pRipple
                        type="button" [label]="'Save'|translate" icon="pi pi-check " (click)="createRole()"
                        class="p-button-rounded p-button-outlined p-button-secondary2  p-button-lg text-btn "></button>
                    <button *ngIf="detailMode" pButton [disabled]=" !selectedRole.role" pRipple type="button"
                        [label]="'Save'|translate" icon="pi pi-check " (click)="updateRole()"
                        class="p-button-rounded p-button-outlined p-button-secondary2  p-button-lg text-btn "></button>
                </div>

            </div>
        </div>
    </div>
    <div body class="px-5 ">
        <div class="grid ">
            <div class="col-12 pb-4">
                <!-- <span class="text-3xl ont-semibold font-bold" translate>Role Details </span> -->
            </div>
            <div class="lg:col-6 sm:col-12">
                <app-input [(ngModel)]="selectedRole.role" name="role" [title]="'Role Name'|translate"
                    [required]="true"></app-input>
            </div>
            <div class="lg:col-6 sm:col-12">
                <app-text-area [(ngModel)]="selectedRole.description" name="description"
                    [title]="'Description'|translate" [required]="true"></app-text-area>
            </div>

         
            
        </div>
        <div class="grid pt-3">
            <!-- <p-panel header="Permissions" style="width: 70%" >
                <div *ngFor="let category of permissions">
                  <p-panel [header]="category.category" [toggleable]="true">
                    <div class="permission-grid">
                      <div *ngFor="let action of category.actions" class="permission-item">
                        <p-checkbox [binary]="true" 
                          [label]="action.label" 
                          [(ngModel)]="action.checked">
                        </p-checkbox>
                      </div>
                    </div>
                  </p-panel>
                </div>
              </p-panel> -->

              <div class="role-manager-container">
                <h2 translate>Permission Manager</h2>
                <div class="permission-list">
                  <!-- Iterate over resources and actions -->
                  <div class="resource" *ngFor="let resource of resources">
                    <h4>{{ resource.name |translate  }}</h4>
                    
                    <div class="actions">
                      <p-checkbox *ngFor="let action of resource?.actions" 
                                  [(ngModel)]="pages[resource.name][action]"
                                  binary="true" 
                                  label="{{ action |translate }}"></p-checkbox>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </div>


</app-sidebar>