<ng-container *ngIf="entity?.type=='user'">
    <div *ngIf="entity?.value;else notFound">
        <div *ngIf="!entity.invert" class="flex">
            <p-avatar #avatar [image]="entity.gender=='Male'?'./assets/images/man.jpg' : './assets/images/woman.png'" styleClass="m-2 avatar-lg"
                shape="circle"></p-avatar>
            <div class="mt-2">
                <div class="mb-1 font-semibold" [class]="darkMode?'text-100':'text-500'" translate
                    [innerHtml]="entity.title"></div>
                <div class="font-semibold" [style.color]="entity.color"
                    [class]="darkMode?'entiy-value':!entity.color?'text-color':null">{{entity?.value}}</div>
            </div>
        </div>
        <!-- <div *ngIf="entity.invert" class="flex">
            <p-avatar #avatar [image]="entity?.value?.gender=='Male'?'./assets/images/man.jpg' : './assets/images/woman.png'" styleClass="m-2 avatar-lg"
                shape="circle"></p-avatar>
            <div class="mt-2">
                <div class="font-semibold" [style.color]="entity.color"
                    [class]="darkMode?'entiy-value':!entity.color?'text-color':null">{{entity?.value}}</div>
                <div class="mb-1 font-semibold" [class]="darkMode?'text-100':'text-500'" [innerHtml]="entity.title"></div>
    
            </div>
        </div> -->
    </div>
    <ng-template #notFound>
        <div class="mb-1 font-semibold" [class]="darkMode?'text-100':'text-500'" translate [innerHtml]="entity.title"></div>
           <div *ngIf="!entity?.value">
        <i class="fas fa-ban text-lg text-color font-semibold"></i>
    </div>
    </ng-template>
</ng-container>
<ng-container *ngIf="entity?.type=='text'">
    <div class="mb-1 font-semibold" [class]="darkMode?'text-100':'text-500'" translate [innerHtml]="entity.title"></div>
    <div *ngIf="entity?.value;else notFoundtext">
        <div class="font-semibold " [style.color]="entity.color"
        [class]="darkMode?'entiy-value':!entity.color?'text-color':null">{{entity.value }}</div>
        </div>
    <ng-template #notFoundtext>
           <div *ngIf="!entity?.value">
        <i class="fas fa-ban text-lg text-color font-semibold"></i>
    </div>
    </ng-template>
</ng-container>