<p-tabMenu class="col-12" [model]="tabIndex" [activeItem]="tabIndex[0]"></p-tabMenu>

<div *ngIf="tabSelected=='calender'" class="grid ">
    <div [class]="edpandMode?'lg:col-12 sm:col-12':'lg:col-8 sm:col-12' ">
        <div #carddH style="height: 80vh;" class="card p-0 ">
            <div class="col-12" *ngIf="selectDateMode" style="text-align: center;">
                <p-calendar dateFormat="mm-dd-yy" style="display: inline-block;" [(ngModel)]="selectDate"
                    (onSelect)="moveToDay()" [inputStyleClass]="'css.dir-ltr'|translate" [showTime]="showTime"
                    [stepMinute]="stepMinute" [showIcon]="true" appendTo="body" type="text"> </p-calendar>
            </div>
            <i (click)="selectDateMode=!selectDateMode" [style.padding-right]="lang=='ar'?'21px':''"
                class="pi pi-calendar text-primary test pointer " style="font-size: 1.7rem"></i>

                <i  (click)="expnd()" [style.left]="lang=='ar'?'':'92%'"
                class="pi pi-arrows-h text-primary test2 pointer " style="font-size: 1.7rem"></i>
            <full-calendar #calendar [options]="calendarOptions"></full-calendar>
           
        </div>


    </div>
    <div *ngIf="!edpandMode" class="lg:col-4 sm:col-12 lg:mt-0 sm:mt-7 ">
        <div height="carddH?.offsetHeight+60">
            <div class="card p-0">
                <p-tabView>
                    <p-tabPanel>
                        <ng-template pTemplate="header">
                            <span>{{'Approved Appointments'|translate}}</span>
                            <p-badge class="ml-2" [value]="approvedAppointments?.length"></p-badge>

                        </ng-template>
                        <div style="max-height: 68vh;" class="overflow-y-auto">
                            <div class="mb-3 font-semibold text-lg text-500" *ngFor="let appo of approvedAppointments">
                                <div class="block pointer" (click)="getAppointment(appo.id)">
                                    <i [class]="'css.mr-2' | translate" style="color: green;"
                                        class="pi pi-circle-fill"></i>
                                    <span>{{appo.attributes?.customer?.firstName}}
                                        {{appo.attributes?.customer?.middleName}}
                                        {{appo.attributes?.customer?.lastName}}</span>
                                </div>
                                <div [class]="'css.ml-4 ' | translate "
                                    style="justify-content: space-around; display: flex;padding-top: 10px">
                                    <p-tag styleClass="tag-secondary mx-2" icon="pi pi-tag" showDelay="1000"
                                        hideDelay="1000" tooltipPosition="bottom" pTooltip="Appointment No."
                                        [value]="appo.attributes?.number"></p-tag>
                                    <p-tag styleClass="tag-secondary mx-2" icon="pi pi-user" pTooltip="Employment"
                                        showDelay="1000" hideDelay="1000" tooltipPosition="bottom"
                                        [value]="appo?.attributes?.employee?.data?.attributes?.username"></p-tag>
                                    <p-tag styleClass="tag-secondary mx-2" icon="pi pi-clock" tooltipPosition="bottom"
                                        showDelay="1000" hideDelay="1000" pTooltip="Start Time"
                                        [value]="appo.attributes.fromDate"></p-tag>

                                </div>
                            </div>
                            <div style="padding-top: 50%;" *ngIf="!approvedAppointments?.length"
                                class="font-semibold text-xl text-center" translate>
                                No Approved Appointments
                            </div>
                        </div>
                    </p-tabPanel>

                    <p-tabPanel>
                        <ng-template pTemplate="header">
                            <span>{{'Unapproved Appointments'|translate}}</span>
                            <p-badge class="pl-1" [value]="unapprovedAppoit?.length"></p-badge>
                        </ng-template>
                        <div style="max-height: 68vh;" class="overflow-y-auto">
                            <div class="mb-3 font-semibold text-lg text-500" *ngFor="let appo of unapprovedAppoit">
                                <div class="block pointer" (click)="getAppointment(appo.id)">
                                    <i [class]="'css.mr-2' | translate" style="color: black;"
                                        class="pi pi-circle-fill"></i>
                                    <span>{{appo.attributes?.customer?.firstName}}
                                        {{appo.attributes?.customer?.middleName}}
                                        {{appo.attributes?.customer?.lastName}}</span>
                                </div>
                                <div [class]="'css.ml-4 ' | translate "
                                    style="justify-content: space-around; display: flex;padding-top: 10px">
                                    <p-tag styleClass="tag-secondary mx-2" icon="pi pi-tag" showDelay="1000"
                                        hideDelay="1000" tooltipPosition="bottom" pTooltip="Appointment No."
                                        [value]="appo.attributes?.number"></p-tag>
                                    <!-- <p-tag styleClass="tag-secondary mx-2" icon="pi pi-user" pTooltip="Employment" showDelay="1000" hideDelay="1000"
                                        tooltipPosition="bottom" [value]="appo?.attributes?.employee?.data?.attributes?.username"></p-tag> -->
                                    <p-tag styleClass="tag-secondary mx-2" icon="pi pi-clock" tooltipPosition="bottom"
                                        showDelay="1000" hideDelay="1000" pTooltip="Start Time"
                                        [value]="appo.attributes.fromDate"></p-tag>

                                </div>
                            </div>
                            <div style="padding-top: 50%;" *ngIf="!unapprovedAppoit?.length"
                                class="font-semibold text-xl text-center" translate>
                                No Unapproved Appointments
                            </div>
                        </div>
                    </p-tabPanel>
                    <p-tabPanel>
                        <ng-template pTemplate="header">
                            <span>{{'Completed Appointments'|translate}}</span>
                            <p-badge class="pl-1" [value]="completedAppoit?.length"></p-badge>
                        </ng-template>
                        <div style="max-height: 68vh;" class="overflow-y-auto">
                            <div class="mb-3 font-semibold text-lg text-500" *ngFor="let appo of completedAppoit">
                                <div class="block pointer" (click)="getAppointment(appo.id)">
                                    <i [class]="'css.mr-2' | translate" style="color: rgb(0, 255, 21);"
                                        class="pi pi-check-circle"></i>
                                    <span>{{appo.attributes?.customer?.firstName}}
                                        {{appo.attributes?.customer?.middleName}}
                                        {{appo.attributes?.customer?.lastName}}</span>
                                </div>
                                <div [class]="'css.ml-4 ' | translate "
                                    style="justify-content: space-around; display: flex;padding-top: 10px">
                                    <p-tag styleClass="tag-secondary mx-2" icon="pi pi-tag" showDelay="1000"
                                        hideDelay="1000" tooltipPosition="bottom" pTooltip="Appointment No."
                                        [value]="appo.attributes?.number"></p-tag>
                                    <p-tag styleClass="tag-secondary mx-2" icon="pi pi-user" pTooltip="Employment"
                                        showDelay="1000" hideDelay="1000" tooltipPosition="bottom"
                                        [value]="appo?.attributes?.employee?.data?.attributes?.username"></p-tag>


                                </div>
                            </div>
                            <div style="padding-top: 50%;" *ngIf="!completedAppoit?.length"
                                class="font-semibold text-xl text-center" translate>
                                No Completed Appointments
                            </div>
                        </div>
                    </p-tabPanel>
                    <i class="pi pi-exclamation-circle" showDelay="1000" tooltipPosition="bottom"
                        pTooltip="This are Appointments for a current day" style="font-size: 1.5rem"></i>

                </p-tabView>

            </div>
        </div>
        <div class="flex align-items-center justify-content-center m-2 pt-2">
            <button pButton pRipple type="button" icon="pi pi pi-plus " (click)="openAppoDeatils()"
                [label]="'New Appointment'| translate"
                class="p-button-rounded p-button-outlined p-button-secondary2 text-btn"></button>

        </div>

    </div>

</div>
<div *ngIf="tabSelected=='appointments'">
    <app-appointments></app-appointments>
</div>

<app-add-appo *ngIf="showSppoSidebar" (refreshLish)="getCalender();getTodayAppo()" [appointment]="Appointment" [id]="id"
    [detailMode]="detailMode" [(display)]="showSppoSidebar"></app-add-appo>