:host::ng-deep .fc .fc-toolbar.fc-header-toolbar{
    height: 4vh;
    justify-content: space-evenly;
    padding-top:22px
}
:host::ng-deep .p-tabview-panels{
display: inline !important;
}
.Active {
    background: #c8e6c9;
    color: #256029;
    font-weight: 700;
    border-radius: 4px;
    padding: 0.25em 0.5rem;
    // text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: .3px
  }
  .InActive  {
    background: #ffcdd2;
    color: #c63737;
    font-weight: 700;
    border-radius: 4px;
    padding: 0.25em 0.5rem;
    // text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: .3px
  
  }

  .test{
    position: relative;
    top: 6%;
    left: 1%;
  }
  .test2{
    position: relative;
    top: 6%;
    left: -88%;
  }