
<p-accordion  class="w-full">
    <p-accordionTab *ngFor="let body of group">
        <ng-template pTemplate="header">
            <div class="flex align-items-center">
                <span class="vertical-align-middle">{{body.attributes.title}}</span>
                <i (click)="showMessagesDialog=true;selectedPhones=[];selectedBody=body" class="pi pi-whatsapp mr-6"></i>
            </div>
        </ng-template>
        <ng-template pTemplate="content">
            <p class="m-0" (click)="updateNotf(body);">
            {{body.attributes.body}}
            </p>
        </ng-template>
    </p-accordionTab>
</p-accordion>
<div class="col-6">
    <button pButton pRipple type="button" icon="pi pi pi-plus " label="إضافة إشعار جديد"
        (click)="initNotfi()"
        class="p-button-rounded p-button-outlined p-button-secondary2 text-btn "></button>
    <i class="pi pi-exclamation-circle pr-3 pointer" style="font-size: 1.5rem"></i>
</div>


<app-modal [(display)]="showMessagesDialog" title="Group messages" class="modal-md">
    <div body>
        <p-multiSelect [options]="phones" appendTo="body" [(ngModel)]="selectedPhones" defaultLabel="Select a Phone" optionLabel="customer" >
            <ng-template let-value pTemplate="selectedItems">
                <div class="flex align-items-center gap-2" *ngFor="let option of selectedPhones">
                    <div>{{ option?.customer }}</div>
                </div>
                <div *ngIf="!selectedPhones || selectedPhones.length === 0">Select Phones</div>
            </ng-template>
            <ng-template let-country pTemplate="item">
                <div class="flex align-items-center gap-2">
                    <div>{{ country?.phone }}</div>
                    <div>{{ country?.customer }}</div>
                </div>
            </ng-template>
    </p-multiSelect>


    </div>
    <div footer>
        <button (click)="sendMessages()" [disabled]="!selectedPhones" pButton pRipple type="button" label=" {{'Send' |translate}}"
        class="p-button-primary"></button>
        <button (click)="showMessagesDialog=false" pButton pRipple type="button" label=" {{'Cancel' |translate}}"
            icon='pi pi-times {{"css.mr-2"|translate}}' class="p-button-secondary p-button-outlined"></button>
    </div>
</app-modal>