<app-loading *ngIf="loading" display="full"></app-loading>
<p-toast position="top-right"></p-toast>
<p-confirmDialog containerStyleClass="vw" acceptButtonStyleClass="p-button-danger" acceptIcon="pi pi-trash"
  rejectButtonStyleClass="p-button-text" appendTo="body"></p-confirmDialog>
<div class="grid card h-full">
  <p-table #kt [value]="purchaseOrders" (onPage)="getPurchaseOrders($event?.first / rowNum + 1)" [paginator]="paginator"
    [rows]="rowNum" currentPageReportTemplate="Showing {first} to {last} entries" [scrollable]="true"
    [tableStyle]="{ 'width.%': 100 }" scrollHeight="80vh">
    <ng-template pTemplate="caption">
      <div class="flex align-items-center justify-content-between">
        <div>
          <h5 class="m-0 primary" translate>Purchase Orders Manager</h5>
        </div>
        <div class="table-header inputgroup-stopwords block">
          <div class="p-inputgroup inputgroup-stopwords">
            <app-excel-export [keys]="keys" [page]="'PurchaseOrders'" [collection]="'purchase-order'"></app-excel-export>

            <div class="px-2">
              <button type="button" (click)="showPurSide()" label="{{ 'Add Purchase Orders' | translate }}" pRipple
                pButton icon="pi pi-plus" class="p-button-success"></button>
            </div>

          </div>
        </div>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 30vw" translate>
          PO No.
          <app-column-filter [filterValue]="fillterFildes.no" (clear)="clearAllFillter()"
            (refresh)="getPurchaseOrders(1, $event)"></app-column-filter>
        </th>
        <th style="width: 30vw" translate>
          Vendors
          <app-column-filter [filterValue]="fillterFildes.company" (clear)="clearAllFillter()"
            (refresh)="getPurchaseOrders(1, $event)"></app-column-filter>
        </th>
        <th translate>
          Status
          <app-column-filter [filterValue]="fillterFildes.status" (clear)="clearAllFillter()"
            (refresh)="getPurchaseOrders(1, $event)"></app-column-filter>
        </th>
        <th translate>
          Is Stocked ?
          <app-column-filter [filterValue]="fillterFildes.addedToStuck" (clear)="clearAllFillter()"
            (refresh)="getPurchaseOrders(1, $event)"></app-column-filter>
        </th>
        <th translate>
          Creation Date
          <app-column-filter [filterValue]="fillterFildes.createdAt" (clear)="clearAllFillter()"
            (refresh)="getPurchaseOrders(1, $event)"></app-column-filter>
        </th>
        <th style="width: 10% !important" translate>Actions</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-ser let-i="rowIndex">
      <tr>
        <td style="width: 30vw">
          <span (click)="openPO(ser)" class="text-xl text-primary pointer font-bold">
            {{ ser?.attributes?.no }}
          </span>
        </td>
        <td style="width: 30vw">
          <span (click)="openPO(ser)" class="text-xl text-primary pointer">
            {{ ser?.attributes?.vendor?.data.attributes.company }}
          </span>
        </td>
        <td>
          <span class="text-xl text-primary bold">
            <span [class]="ser.attributes?.status">{{
              ser?.attributes?.status | translate
              }}</span>
          </span>
        </td>
        <td>
          <span *ngIf="ser.attributes?.addedToStuck" class="Completed" translate>Yes</span>
          <span *ngIf="!ser.attributes?.addedToStuck" class="Canceled" translate>No</span>
        </td>
        <td>
          <span class="text-xl text-primary bold">
            {{ ser?.attributes?.createdAt | date : "dd/MM/yyyy hh:mm a" }}
          </span>
        </td>
        <td style="width: 10%">
          <button (click)="openPO(ser)" pButton pRipple icon="pi pi-pencil text-base"
            class="p-button-sm p-button-primary mr-1"></button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="4" translate>No PO .</td>
      </tr>
    </ng-template>
  </p-table>
</div>

<app-purchase-order-form *ngIf="showSidebar" [po]="selectedPo" (refreshLish)="getPurchaseOrders(1, null)"
  [(display)]="showSidebar" [detailMode]="detailMode"></app-purchase-order-form>